.mainbg {)
  background-image: url(http://viabaltica.ru/bundles/sandboxwebsite/img/general/);
  padding-top: 15px;
}

.splash__container .col-md-12 {
  background-color: transparent;
  color: #333;
}

.splash--gray-dark {
  background-color: #fcfcfc;
  color: #333;
}
.splash--gray-dark a, .splash--gray-dark h1, .splash--gray-dark h2, .splash--gray-dark h3, .splash--gray-dark h4, .splash--gray-dark h5  {
  color: #333;
}

.clubbar {
    position: fixed;
    width: 42%;
    z-index: 9;
}

.city-picker {
  width: 66.6666666%;
}

.travelbase_top_menu > li {
  display: inline-block;
}

.navbar {
  margin-bottom: 0;
}

.side-abs {
  position: absolute;
  right: 0;
  top: -40px;
  background-color: #fff;
  padding: 10px;
}

  


.clubbar {
  padding: 0;
}

.club-link {
  padding: 20px 12px;
  border: 2px solid #C5D04E;
  font-size: 16px;
  border-radius: 40px;
  position: absolute;
  z-index:10;
  right: 10px;
  cursor:hand;
  cursor:pointer;
  font-size: 16px;
  color: #FFFBDE;
  font-weight: bold;
  text-shadow: 1px 1px #CFD039;
  box-shadow: 5px 5px 5px #bbb;
  background: -webkit-linear-gradient(#F2E022, #F4BF17) repeat scroll 0 0 transparent !important;
}
.club-link:hover {
  border: 2px solid #ACB63E;
  color: #FFFBDE;
  text-shadow: none;
  background: -webkit-linear-gradient(#E3D218, #CC9F0E) repeat scroll 0 0 transparent !important;
  text-decoration:none;
  outline:0
}
.club-link:focus, #modal-registration .close:focus {
  outline:0
}
#date-start-datepicker-holder, #date-end-datepicker-holder, .datepick-input-holder, .placeholder, .select2-container-multi .select2-choices {
  border: 1px solid #555;
  box-shadow: 0 2px 1px #ddd inset;
}
.placeholder {
    padding: 8px 5px 5px 35px;
    margin-bottom: 2px;
}

.form-header h1 {
  margin: 15px 0 15px 15px;
}

.travelbase_top_menu .nav>li>a {
  padding: 10px 0;
  margin-right:15px;
}

.tabs-packages .nav-tabs {
  border-bottom: none;
    display: inline-block;
}
.tabs-packages .nav-tabs > li  {
    border-right: 1px solid #fcfcfc;
  	margin-bottom: -2px;
  	margin-right:0;
   background: -webkit-linear-gradient(#86f78f, #65DF6F) repeat scroll 0 0 transparent;
}

.tabs-packages .nav-tabs > li > a {
  border-radius: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
  color: #27A632;
  text-shadow: 1px 1px #82F48B;
  border:none;
  font-weight: bold;
}

.nav-tabs>li>a:hover {
  border-color: transparent;
  background: transparent;
}

.tabs-packages .nav-tabs>li.active>a, .tabs-packages .nav-tabs>li.active>a:hover, .tabs-packages .nav-tabs>li.active>a:focus {
  background-color: #fcfcfc;
}

.tabs-packages .nav-tabs>li.active>a, .tabs-packages .nav-tabs>li.active>a:hover, .tabs-packages .nav-tabs>li.active>a:focus {
  border: none;
  text-shadow: none;
  box-shadow: inset -1px -1px 15px #ccc;
}


#baltica-filter  {
  width:100%;
}

time, .tags-block a, header, header a {
  margin-bottom: 0;
}


.inner-col {
  background: #fcfcfc;
  padding-top: 15px;
}

#travelbase_tabs {
  top: -55px;
}

.tab-content>.active {
  min-height: 200px;
}

.register-form {
  width: 100%;
}

.breadcrumb {
  white-space: nowrap;
  z-index: 0;
}
.map-col {
  z-index:1;
} 

h2, .h2 {
  font-size: 24px;
  line-height:1.3em;
}

.hotel-information-pp p {
    display: table;
    color: #7B7069;
}
.hotel-information-pp p span {
    width: 15px;
}
.hotel-information-pp p span, .hotel-information-pp p a {
	display: table-cell;
	color: #7B7069;
	text-decoration: underline;
}
.hotel-information-pp p span, .hotel-information-pp p .fa  {
	text-decoration: none;
}
.hotel-information-pp .row img, .hv-inc  {
 margin-bottom:20px;
}
.hv-inc {
 border-left: 2px solid #ccc;
 border-right: 2px solid #ccc;
 border-bottom: 2px solid #ccc;
 padding: 20px;
 background-color: #eee;

}    
.fa-calendar-o {
	font-size: 18px;
}    



/* registration*/

#modal-registration .close {
  background: -webkit-linear-gradient(#9D9A91, #34373C) repeat scroll 0 0 transparent !important;
  padding: 5px 16px 8px;
  display: block;
  position: absolute;
  border-radius: 40px;
  top: -20px;
  right: -20px;
  opacity: 1;
  color: #000;
  font-size: 45px;
  text-shadow: 1px 1px #DE7B7A;
}

#modal-registration .modal-content {
  border-radius: 0;
  background-size: cover;
  background-image: url(/bundles/sandboxwebsite/img/general/register.jpg);
}

#modal-registration .modal-header {
  border-bottom: none;
}
#modal-registration .modal-header, #modal-registration .modal-body {
  padding: 30px 40px 0px;
}
#modal-registration h2 {
font-weight: bold;
  color: #444540;
  font-size: 30px;
  line-height: 1.2em;
  
 }
@media (min-width: 768px){
	#modal-registration .modal-dialog {
	  width: 760px;
	}
}

@media (max-width: 400px) {
	#modal-registration .modal-content {
	  background-position: 0 0;
	  background-size:inherit;
	}
}  
  
#modal-registration .tab-pane {
  padding: 17px;
}

#modal-registration .nav-tabs>li {
  height:50px;
}
#modal-registration .nav-tabs {
  border:none;
  margin-left: 15px;
}
#modal-registration .nav-tabs>li>a, #modal-registration .nav-tabs>li>a:hover, #modal-registration  .nav-tabs>li>a:focus {
  font-weight: bold;
    border: 2px solid #444540;
  margin-right: 3px;
  opacity: 0.4;
}

#modal-registration .nav-tabs>li.active>a {
  opacity: 1;
}

#modal-registration .nav-tabs>li>a, #modal-registration .nav-tabs>li>a:hover, #modal-registration  .nav-tabs>li>a:focus, #modal-registration .nav-tabs>li.active>a {
	background: -webkit-linear-gradient(#444540, #2D3029) repeat scroll 0 0 transparent !important;
	color:#eee;
	  border-radius: 4px;
}
#modal-registration .form-control {
  border: 1px solid #999;
}

#modal-registration .register-slogan {
  margin-bottom: 20px;
  position: relative;
  z-index: 9;
}
/* news and article pages*/

main {
  padding: 0 20px;
}

.logo {
  position: relative;
  z-index: 99;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.top-40 {
    margin-top:40px;
    display:block;
}
.top-80 {
    margin-top:80px;
    display:block;
}

@media (min-width: 768px)  {
.navbar .site-topmenu {
  position: inherit;
  top: 8px;
  right:auto;
  padding:0;
  height:inherit!important;
  background:transparent;
}

}





@media (max-width: 480px) {

.col-xs-offset-right-12 {
  margin-right: 100%;
}
.col-xs-offset-right-11 {
  margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
  margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
  margin-right: 75%;
}
.col-xs-offset-right-8 {
  margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
  margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
  margin-right: 50%;
}
.col-xs-offset-right-5 {
  margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
  margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
  margin-right: 25%;
}
.col-xs-offset-right-2 {
  margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
  margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
  margin-right: 0;
}

}

@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%;
  }
  .col-sm-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-sm-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-sm-offset-right-9 {
    margin-right: 75%;
  }
  .col-sm-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-sm-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-sm-offset-right-6 {
    margin-right: 50%;
  }
  .col-sm-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-sm-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-sm-offset-right-3 {
    margin-right: 25%;
  }
  .col-sm-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-sm-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-sm-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%;
  }
  .col-md-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-md-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-md-offset-right-9 {
    margin-right: 75%;
  }
  .col-md-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-md-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-md-offset-right-6 {
    margin-right: 50%;
  }
  .col-md-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-md-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-md-offset-right-3 {
    margin-right: 25%;
  }
  .col-md-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-md-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-md-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%;
  }
  .col-lg-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-lg-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-lg-offset-right-9 {
    margin-right: 75%;
  }
  .col-lg-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-lg-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-lg-offset-right-6 {
    margin-right: 50%;
  }
  .col-lg-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-lg-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-lg-offset-right-3 {
    margin-right: 25%;
  }
  .col-lg-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-lg-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-lg-offset-right-0 {
    margin-right: 0;
  }
}



