@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Yellowtail:400,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700);

html body {  
    font-family: "Open Sans",serif;
}
h1, h2, h3, h4, h5  {
    font-family: "Open Sans",serif;
	letter-spacing: -0.3px;
}
body{background-color: #ffffff !important;}
.clear {
    clear:both;
} 
.clearright {
    clear:right;
} 
.nopadding, .no-padding {
    padding: 0;
}

.nopadding-right-top  {
    padding-right:0;
    padding-top:0;
}
.nopadding-left-top  {
    padding-left: 0;
    padding-top:0;
}
.nopadding-top  {
    padding-top:0;
}
.nopadding-right {
    padding-right: 0;
}
.nopadding-left {
    padding-left: 0;  
} 
.nomargin, .no-margin {
    margin: 0;
} 
.nomargin-right {
    margin-right: 0;
} 
.margin-top-10 {
    margin-top: 10px;
} 
.margin-top-20 {
    margin-top: 20px;
} 
.margin-bottom-10, .footer ul li {
    margin-bottom: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}  
.margin-top-bottom-10 {
    margin-top: 10px;
    margin-bottom: 10px;
} 
.margin-left-10  {
    margin-left: 10px;
} 
.no  {
    display:none;
} 
.nowrap{
    white-space: nowrap;
}
.col-md-offset-0_5 {
    padding-left: 5%;
}

.register-form{
    background-color: rgba(1, 1, 1, 0.8);
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    line-height: 34px;
    padding: 28px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.register-form .form-control{
    width: auto;
}
.register-form .form-group{
    display: inline;
    margin: 0 10px;
}


.datepicker {z-index: 1151 !important;}

/*pageparts gallery, googlemap */

.breadcrumb {
	padding: 0;
} 
.breadcrumb li a, .breadcrumb li.active {
    font-family: 'Open Sans', serif;
} 
.content {
	position:relative;
}
.content h1, .content h2, .content h3, .content h4, article h4, .content h5,.footer ul li a {
    line-height: 1.3em; 
}
.contentinside h3 {
	line-height: 1.6em; 
}
.content p {
	font-size: 16px; 
	line-height: 1.8em;
	margin-top: 10px;
}

.to-places a, .tags-block a, .link-pp a, .map-container a, .companies-block a { 
	text-decoration:underline;
}

.to-places { 
	font-size: 15px; 
	margin-bottom:10px;
}


.articles-panel { 
	padding-left: 30px; 
}
.news-panel article h3 a { 
	font-size: 20px; 
}
.news-panel h2, .news-panel article h3 a { 
	color:#F8C600;
	line-height:1.1em;
}
.news-panel, .price-from-inner, .price-from:after, .price-from:before {
	background:#444!important;
}
.news-panel { 
	padding:30px;
	color:#fefefe;
}
.news-panel article a { 
	color:#ddd;
	text-decoration:underline;
}

.travelbase_items .my-popover { 
	text-decoration:none;
}

.tags-block {
	color: #ccc;
	margin-bottom: 10px;
	margin-top:20px;
}   

.companies-block  {
	margin: 10px 0;
	font-size: 16px; 
}

time, .tags-block a, header, header a  {
	color: #999; 
	margin-bottom:5px;
}

.topnews {
	padding-bottom:15px;
	padding-top:10px;
	border-bottom:1px solid #ccc;
} 
.topnews:hover {
	background:#ddd;
} 
.topnews .timetop {
	font-size:13px; 
	display: block;
	margin-bottom: 5px;
} 
 
.link-pp  {
	height: 45px;
	margin-bottom: 25px;
	padding-top: 7px;
	padding-left: 7px;
	background: #eee;
	margin-left: -5px;
}
.link-pp span {
	color: #337ab7;
}
.img-left {
	margin-right:20px;
}
.image-thumbnail-text {
    margin-top: 10px;
}
.image-wrapper, .map-container {
    margin-bottom: 20px;
}
.gallery h3, .google-map h3 {
    font-weight: 700;
	padding: 5px 15px;
	font-size: 22px;
	background: #eee;
	margin-top: 20px;
	margin-bottom: 25px;
}
.map-container {
    margin-top:20px;
}
/* Bootstrap Css Map Fix*/
.google-map-pp img { 
  max-width: none;
}
/* Bootstrap Css Map Fix*/
.google-map-pp label { 
  width: auto; display:inline; 
}

/*banners*/
.banner-col6, .banner-col4 {
	padding:20px;
	border:1px solid #ddd;
	text-align:right;
}
.banner-col6 small, .banner-col4 small {
	color: #aaa; 
}

.content-panel {
	margin-top:15px;
}

main h2 {
    margin: 25px 0 15px 0;  
}

main h2.topheader {
    font-weight: bold;
	font-size: 25px;
}

main {
    line-height:1.6em;
}
body .splash--green { 
    background-color: transparent;
}
.mainbg{
    height: 380px;
    background: url('http://ku.markmedia.fi/sites/default/files/images/mainbg2.jpg') center center;
    background-size: cover;
    position: relative;
}
#travelbase-form h1 {
    color: #f8c701;
    text-shadow:1px 1px #454545;
    margin: 35px 0 30px;
    font:  700 35px "Open Sans";
    letter-spacing:-1px;
}

/* footer */
.footer {
    margin-top:20px;
}
.doormat__title, .doormat__title a, .travelbase_top_menu > li a {
    color: #fff;
    font-weight:700;
    font-family: "Open Sans",serif;
}

/*calendar*/
.event-success {
    background-color: #16aea3;
    color: white;
    padding: 3px;
}

.cal-item-cheapest {
    background-color: #FFEDBA;
}
/*topmenu*/
.site-logo, .site-logo a {
	 width:250px;
	 right:0;
} 
.site-logo {
	position: absolute;
	top: 0;
	z-index: 9999;
}
.site-logo a {
    height:86px;
    top:30px;
    position: absolute;
    z-index: 99;
    display:block;
    /*noinspection CssUnknownTarget*/
    background:url("/bundles/sandboxwebsite/img/general/main-logo.png") no-repeat 0 0;
}
/*.site-topmenu {*/
    /*position: absolute;*/
    /*top:0;*/
    /*right:0;*/
    /*padding-right:4%;*/
    /*padding-top: 135px;*/
    /*padding-left: 280px;*/
	/*z-index: 98;*/
	/*height: 380px;*/
    /*background: -moz-linear-gradient(left,  rgba(135,224,253,0) 0%, rgba(197,220,245,0.8) 100%); *//* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(135,224,253,0)), color-stop(100%,rgba(197,220,245,0.8))); *//* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(left,  rgba(135,224,253,0) 0%,rgba(197,220,245, 0.8) 100%); *//* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(left,  rgba(135,224,253,0) 0%,rgba(197,220,245, 0.8) 100%); *//* Opera 11.10+ */
	/*background: -ms-linear-gradient(left,  rgba(135,224,253,0) 0%,rgba(197,220,245, 0.8) 100%); *//* IE10+ */
	/*background: linear-gradient(to right,  rgba(135,224,253,0) 0%,rgba(197,220,245, 0.8) 100%); *//* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87E0F3', endColorstr='#C5DCF5',GradientType=1 ); *//* IE6-9 */

/*}*/
.travelbase_top_menu{
	margin:0;
    padding: 0 0 100px;

}
.travelbase_top_menu > li {
    list-style: outside none none;
    margin-bottom: 5px;
    text-align:right;
    /*-webkit-transform: rotate(352deg);
	-moz-transform: rotate(352deg);
	-o-transform: rotate(352deg);
	writing-mode: lr-tb;*/
}
.site-topmenu .travelbase_top_menu > li > a {
    color: #111;
    font-style:italic;
    font-size:16px;
    text-decoration:underline;
}
#travelbase-form > div {
    margin-top:0;
}

.top-img-title {
    position: absolute;
    right: 230px;
    top: 30px;
    z-index: 106;
    font-size:12px;
}
.top-img-title a {
	color: #fff;
	font-size:12px;
    text-decoration:underline;
    font-family: 'Open Sans', serif;
}
.badge.spinner{
    min-height: 18px;
    min-width: 18px;
    position: relative;
    vertical-align: middle;
}

/* place holder */
.placeholder{
    background-color: white;
    min-height: 41px;
    padding: 5px 5px 5px 35px;
    height: auto;

}
.placeholder-collapse{
    overflow: hidden;
    white-space: nowrap;
}
.placeholder-item{
    color: #333;
    cursor: default;
    line-height: 13px;
    margin: 3px 0 3px 5px;
    padding: 3px 0 3px 18px;
    position: relative;
    white-space: nowrap;
    display: inline-block;
}

.placeholder-item .placeholder-item-remove{
    display: block;
    font-size: 1px;
    height: 13px;
    outline: medium none;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 12px;
}

.placeholder-item a.placeholder-item-remove{
    cursor:pointer;
    color: #999;
    font-size: 21px;
    display: inline-block;
    line-height: 0;
    padding: 7px 3px 0 0;       
}

.placeholder-item a.placeholder-item-remove:before {
    content: "×";
}

.placeholder-item a.placeholder-item-remove:hover{
    text-decoration:none;
    color:#ddd;     
}


.placeholder-item .placeholder-item-remove:hover {
    background-position: right -11px;
}


div.travelbase-input-addon{
    background-color: transparent;
    border: medium none;
    position: absolute;
    width: 40px;
    padding: 6px;
    z-index: 10;
}
.travelbase-input{
    padding: 6px 10px 6px 38px;
}
.travelbase-icon{
    top: 1px;
    /*noinspection CssUnknownTarget*/
    background-image: url("/bundles/sandboxwebsite/img/icons/search-icons.png");
    width: 27px;
    height: 28px;
}

.travelbase-icon-to-top{
    left: 0;
    position: absolute;
    top: 0;
}

.travelbase-icon-from{
    background-position: 0 -8px;
}
.travelbase-icon-to{
    background-position: 0 -47px;
}
.travelbase-icon-date-from{
    background-position: 0 -82px;
}
.travelbase-icon-date-to{
    background-position: 0 -118px;
}


/* sidebar */

.clubbar {
  background: #fff;
  padding: 20px;
  border: 3px dashed #F2E022;
  margin-bottom: 20px;
  margin-top: -40px;
}

.sidebar {
	padding-bottom:30px;
}
.sidebar h1 {
	position: absolute;
	z-index: 105;
	top: -70px;
	left:0;
	font: bold 30px/1.3em 'Open Sans';
	margin-bottom: 0;
	margin-top:5px;
	color:#000000;
	text-shadow: 1px 1px #f9f9f9;
	float: left;
	padding:10px 15px 0 15px;
	background:-moz-linear-gradient(#f9f9f9, #eeeeee) repeat scroll 0 0 transparent !important;
    /*noinspection CssOverwrittenProperties*/
    background:-webkit-linear-gradient(#f9f9f9, #eeeeee) repeat scroll 0 0 transparent !important;
	background: -ms-linear-gradient(top, #f9f9f9, #eeeeee); /* IE10 */ 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#eeeeee'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#eeeeee')"; /* IE8+ */
    /*noinspection CssUnknownProperty*/
    -pie-background:linear-gradient(#f9f9f9, #eeeeee) repeat scroll 0 0 transparent !important;
}	

.sidebar .club-header { margin-top: 0;}
.sidebar .top-ten {
    background: #eee;
    margin-top:80px;
    padding-top:20px;
}
.sidebar .top-ten > div {
    border-bottom: 1px solid #ddd;
    border-top: 0;
    margin-right: 15px;
    padding: 10px 0;
    position: relative;
}	

#top-ten-all > div {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 10px;
}

#top-ten-all {
    box-shadow: 0 0 10px -6px;
}


.tree-wrapper {
    display: block;
    z-index:9;
    max-height: 150px;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    border: 2px solid #444;
    padding:5px 20px 5px 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #ffffff;
    width: 73%;
}
.subscribe-form {
    margin-top: 54px;
}
.subscribe-form #form_email {
    border: 2px solid #444;
    padding:8px;
    margin-bottom:5px;
    width: 80%;
    margin-top: 46px;
    display: none;
}
.subscribe-form #form_submit {
    padding:8px;
    font-weight:bold;
    margin-top: 10px;
}
.subscribe-form #form_subscribe {
    margin-top: 166px;
}

.tree-toggle{
    padding: 8px;
    position: absolute;
    right: 0;
    top: 1px;
    cursor: pointer;
}
.tree-toggle:hover{
    color: #888;
}

.trip table .trip-path-spacer-line > div {
    /*border-bottom: 1px solid rgb(104, 104, 104);*/
    height: 15px;
}


.trip table .trip-path-spacer-arrow-wrapper {
    margin: 0;
}
.airport-code{
    display: none;
}
.trip:hover .airport-code{
    display: inline;
}

/* icons */
.price-from {
    position:absolute;
    margin-left: 20px;
}
.price-from-line { 
	position:absolute;
	border-top:2px solid #F8C600;
	width:25px;
	-webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
    left: -28px;
	z-index: 9;
	top: 18px;
}
.price-from-img {
    right: -5px;
    top: -23px;
}
.price-from-img-left {
    left: -5px;
}
.price-from-inner {
    background: #fff;
    position:relative;
    width: auto;
    display: inline-block;
    height: 43px;
    line-height: 36px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0;
    color: #E6B800;
    border: 2px solid #F8C600;
    border-left-width: 0;
    font-family: "Open Sans", serif;
    font-size:20px;
}
.price-from-img-left .price-from-inner {
    border-width: 2px 0 2px 2px;
}
.price-from:after { /* the circle on the left */
    position: absolute;
    content: '';
    height: 10px; 
    width: 10px;
    border-radius: 50%;
    border: 2px solid #F8C600;
    background-color: #fff;
    left: -10px;
	top: 16px;
    z-index: 2;
}
.price-from-img-left:after {
	left: auto;
	right: -10px;
}

.price-from:before{ /* the arrow on left side positioned using left property */
    position: absolute;
    content: '';
    height: 33px; 
    width: 33px;
    border-radius:5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff; 
    border: 2px solid;
    border-color: transparent transparent #F8C600 #F8C600;
    left: -16px;
    top: 5px;
}
.price-from-img-left:before {
	-webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
    right: -17px;
    left: auto;
    border-color: #F8C600 transparent transparent #F8C600;
}

.stitched {
   padding: 20px;
   margin: 10px;
   background: #ff0030;
   color: #fff;
   font-size: 21px;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}

/*style min*/

.main-article h3 { 
    margin-top: 5px;
}


.main-news--summary {
    position: relative;
    border-bottom: none;
    border-top: 2px solid #F8C600;
    padding: 1.5em 0;
}
.main-article__readmore { 
    margin-top: 0;
}

.right{ /* the x mark at the right */
    text-align: right;
    margin: 0 4px;
}
.top-menu-container{
    height: 0;
}
#travelbase_tabs{
    position: relative;
    top: -45px;
}
#slider-range, #slider-range-stopover{
    border: none;
    height: 1px;
    background: #000000 none;
    width: 70%;
    margin-top: 20px;
	margin-left: 50px;
}
#slider-range .ui-slider-range,#slider-range-stopover .ui-slider-range{
    background: #f8c701 none;
}
#slider-range .ui-slider-handle, #slider-range-stopover .ui-slider-handle{
    top: -0.3em;
    width: 12px;
    height: 12px;
    border-radius: 15px;
    border: none;
}
#slider-range-stopover .ui-slider-handle{
	background: #ccc;
	border: 1px solid #888;
}

#amount, #stopover{
    border:0;
    color:#fff;
    position: absolute;
	top: 27px;
	left: 43px;
    background-color: rgba(252, 252, 252, 0);
}
#stopover{
    color:#000;
}
label[for=amount]{
    position: absolute; 
    top: 12px;
}
label.directFlight-label,  label.sameDay-label {
	color: #000;
	margin-top: 30px;
	display: block;
}

#directFlight, #sameDay, #flyOneWay, #flyWithReturn {
    -webkit-appearance: checkbox;
    color: #ffffff;
}

#form-submit {
	height: 40px;
	/*position: absolute;*/
	z-index: 200;
	border-radius: 2px;
	padding: 8px 16px;
    margin-top: 0;
}

/* result table header */
.sort-controls .btn-group  {
}

.sort-controls .sort-date, .sort-controls .sort-price {
	text-transform:capitalize;
}
.sort-controls .btn {
	padding: 0;
	
}
.sort-controls .btn .glyphicon {
	color:#888;
	padding: 2px 5px 1px 5px;
}
.sort-controls .active .glyphicon {
	color:#676767;
}

.travelbase_items .glyphicon-plus, .travelbase_items .glyphicon-minus{
	font-size:9px;
	color:#2aabd2;
}
.travelbase_items .glyphicon-plus:before{
	position:relative;
	top:-1px;
}
.travelbase_items .glyphicon-star {
	font-size:11px;
	color:#2aabd2;
}


/* TRIP Result table */

.trip-results {
	border-bottom:2px solid rgba(236, 219, 48, 1);
	box-shadow: 0 13px 5px -6px #f3f3
}

.trip {
    -moz-user-select: none;
    border: none;
    cursor: pointer;
    margin-bottom: -1px;
    overflow: visible;
    padding: 13px 16px;
    height: 72px;
}
.trip:first-child {
} 
.trip:last-child {
}
.trip:hover {
    background-color: rgba(33, 7, 100, 0.1);
}
.trip > div {
    min-height: 0 !important;
}
.trip-duration {
    color: rgb(139, 139, 139);
    font-size: 13px;
    font-weight:bold;
    padding: 0;
	margin: 17px 0 0;
}

.trip .company  {
    height:25px;
    width:100px;
    display: inline-block;
    /*noinspection CssUnknownTarget*/
    background: url("/bundles/sandboxwebsite/img/general/comp-sprite.png") no-repeat 0 0;
}
.trip .company-tjareborg  {
    background-position:0 -25px;
}
.trip .company-finnmatkat  {
    background-position:0 -50px;
}
.trip .company-fritidsresor  {
    background-position:0 -75px;
}
.trip .company-apollo, .trip .company-apollomatkat  {
    background-position:0 -100px;
}
.trip .company-nazar  {
    background-position:0 -125px;
}
.trip .company-detur, .trip .company-deturse, .trip .company-deturno, .trip .company-deturfi  {
    background-position:0 -150px; 
}
.trip .company-aurinkoee, .trip .company-aurinkofi {
    background-position:0 -175px;
}
.trip .company-norwegian  {
    background-position:0 -200px;
}
.trip .company-startourdk, .trip .company-startour, .trip .company-startourno {
    background-position:0 -225px;
}
.trip .company-spies, .trip .company-spiesdk {
    background-position:0 -250px;
}
.trip .company-ving, .trip .company-vingse, .trip .company-vingno {
    background-position:0 -275px;
}

.trip .company-novatoursee, .trip .company-novatourslv {
    background-position:0 -300px;
}

.trip .company-airtours {
    background-position:0 -325px;
}

.trip .company-turkietresor {
    background-position:0 -350px;
}

.trip .company-bravotours {
    background-position:0 -400px;
}

.trip .company-solresor {
    background-position:0 -425px;
}

.trip .company-amisol {
    background-position:0 -450px;
}

.trip-path {
    /*margin-left: 32px;*/
}
.table-field {
    margin-top: 10px;
}
.trip-field {
    margin-top: 12px;
}
.date-field {
    margin-top: 13px;
}
.trip-path-point {
    display: inline-block;
    text-align: center;
    width: auto;
    /*width: 70px;*/
}
.trip-path-point-airport {
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
}
.trip-path-point-airport-demp {
    font-size: 12px;
    width: 60px;
}
.trip:hover .trip-path-point-airport-demp > .trip-path-point-time {
    height: 12px;
    opacity: 1;
}
.trip-path-point-airport-demp > .trip-path-point-time {
    height: 0;
    opacity: 0;
}
.trip:not(.selected-trip) .trip-path-point-airport-demp > .trip-path-point-time {
    line-height: 0;
}
.trip:hover:not(.selected-trip) .trip-path-point-airport-demp > .trip-path-point-time {
    line-height: inherit;
}
.trip-path-point-time {
    color: rgba(21, 80, 73, 0.86);
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 600;
}
.trip-path-spacer {
    display: block;
    /*display: inline-block;*/
    padding: 7px 6px 0;
    vertical-align: top;
    position: relative;
}
.trip-path-spacer-label {
    font-size: 12px;
    height: 8px;
    margin-left: 1px;
    margin-top: 26px;
    opacity: 0;
    position: absolute;
    text-align: center;
    vertical-align: top;
    display: block;
    width: 100%;
}
.trip:hover .trip-path-spacer-label {
    opacity: 1;
}
.trip-path-spacer-arrow-wrapper {
    display: table;
    margin: 5px 0 0;
    position: relative;
}
.trip-path-spacer-line {
    display: table-cell;
    height: 26px;
    opacity: 0.2;
    overflow: hidden;
    word-break: break-all;
}
.trip-path-spacer-line > div {
    border-bottom: 1px solid rgb(104, 104, 104);
    height: 9px;
}
.trip-path-spacer-arrow-layover > .trip-path-spacer-line > div {
    border-bottom: 1px dashed rgb(104, 104, 104);
}
.trip-path-spacer-arrow {
    display: table-cell;
    font-size: 10px;
    height: 14px;
    opacity: 0.4;
    vertical-align: middle;
    width: 1px;
}
.trip-path-spacer-arrow:before {
    content: "▶";
}
.trip-path-spacer-arrow-back:before {
    content: "◄";
}
.trip-cost {
    text-align: center;
}
.trip-cost > .trip-btn-cost, .trip-cost > .trip-btn-close, .trip-cost > p {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}
.trip:hover .trip-btn-cost {
    display: block;
}
.trip:hover p {
    display: none;
}


.trip-cost > p {
    color: #468847;
    padding: 10px 0 0;
}
.trip-cost > .trip-btn-cost, .trip-cost > .trip-btn-close {
    display: none;
    height: 40px;
}
.popover-title {
    white-space: nowrap;
}

.airline {
    display: inline-block;
    height: 16px;
    margin: 1px 0 0;
    opacity: 0.6;
    width: 18px;
}


.travelbase_items.travelbase_items_sp td {
    padding: 0 10px 0 0;
    text-align: left;
    white-space: nowrap;
}

.travelbase_items .price{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding: 0;
}

.loading {
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    min-height: 200px;
}
.loading-message{
    text-align: center;
    margin: 45px 20px 20px;
}


.company-info{
    font-size: 16px;
    margin-top: 7px;
}
.company-info .badge{
    font-size: inherit;
}
.company-info .badge:hover{
    background-color: #999999;
}
.company-info .company-clear{
    cursor: pointer;
}

/*DATE PICKER STUFF*/
#edit-date-start-datepicker-popup-0,#edit-date-end-datepicker-popup-0, .datepick-input{
    width: 1px;
    padding: 0;
    margin: 0;
    line-height: 1px;
    height: 1px;
    border:0;
    background-color: transparent;
    color: transparent;
}
.input-group-addon{
    border: 1px solid #aaa;
    border-right: 0;
}
#date-start-datepicker-holder, #date-end-datepicker-holder, .datepick-input-holder {
    /*margin-left:7px;*/
    color: #666;
    font-size:15px;
    /*width: 95px;*/
    background: #fff linear-gradient(to bottom, #eee 1%, #fff 15%);
    cursor: text;
    height: auto !important;
    overflow: hidden;
    padding-top: 9px;
    padding-bottom: 7px;
    position: relative;
}

.datepicker-clear-icon{
    position: absolute;
    right: -9px;
    top: -9px;
    z-index: 100;
    border-radius: 12px;
    font-size: 22px;
    background-color: #ffffff;
}


/* select 2 fields*/

.col-md-3 .input-group-addon {
    height: 37px;
    border-right: 0;
}
#s2id_departure-el, #s2id_destination-el, #s2id_departure-selected, #s2id_destination-selected{
    padding: 0;
    border: 0;
}
#s2id_departure-el .select2-choices, #s2id_destination-el .select2-choices, #s2id_departure-selected .select2-choices, #s2id_destination-selected .select2-choices{
    position: relative;
    padding-top: 3px;
    padding-bottom: 2px;
}

#s2id_departure-selected, #s2id_destination-selected{
    margin-left: 38px;
    /*noinspection CssOverwrittenProperties*/
    width: 90%;
    /*noinspection CssOverwrittenProperties*/
    width: calc(100% - 38px);
}

#s2id_departure-selected .select2-choices, #s2id_destination-selected .select2-choices{
    min-height: 38px;
    position: relative;
    top: 0;
}
 
.select2-container-multi .select2-choices {
	border-width:2px;
}


.select2-container-multi .select2-choices li{
    display: inline-block;
}

.select2-container-multi .select2-choices {
    white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input{
    padding-left: 42px;
    font-size: 15px;
    width: calc(100% - 42px);
}
#date-start-datepicker-holder, #date-end-datepicker-holder, .datepick-input-holder, .placeholder, .select2-container-multi .select2-choices {
    border: 2px solid #555;
    border-radius: 2px;
}

/* City picker list */
.city-picker{
    background: #fff;
    box-shadow: none;
    padding: 30px 30px 30px 5%;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    z-index: 99999;
}
.city-picker ul{
    margin:0 0 7px 0;
    padding: 0;
    font-size:16px;
}
.city-picker ul li i.fa{
    font-size: 20px;
    cursor:hand;
}

#dropdown-company .city-list ul li{
    padding-left:0;
}
#dropdown-company .city-list ul li a.company-list-title {
    font-weight:bold;
    font-size:22px;
}
.city-picker li{
    list-style-type: none;
    padding-left:19px;
}
.city-picker ul li ul{
    margin:10px 0;
    
}
.city-picker ul li ul li {
    padding:0 0 5px 35px;
}
.city-picker li.parent-list li.parent-list ul li{
    padding:0 0 5px 35px;
}
.city-picker li.parent-list {
    padding-left:0;
}
.city-picker li.parent-list li.parent-list{
    padding-left:17px;
}

.city-picker-container{
    display: inline-block;
    /*margin-top: -10px;*/
    /*float: right;*/
}
span.city-picker-close {
    color: #eaeaea;
    font-size: 36px;
    position: absolute;
    z-index:99999;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
span.city-picker-close:hover {
    color: #cccccc;
}
.city-picker input[type="checkbox"] {
    display:none;
}
.city-picker input[type="checkbox"] + label {
    cursor: pointer;
    font-weight: normal;
    margin-right:3px;
    margin-left:3px;
    padding: 5px 3px;
}
.city-picker input[type="checkbox"]:checked + label {
    background-color: #ddd;
    border-radius: 3px;
    box-shadow: none;
}
.city-divider li{
    line-height: 1px;
}

.city-picker h1.form-item-header {margin:0!important;color:#333!important;font:700 35px "Open Sans";}
.city-picker .form-item-desc {margin:5px 0 10px 0;color:#333;font-size:18px;}


.mobile-day {
    display: block;
    font-size: 27px;
}

.mobile-date{
    margin-top: 5px;
    margin-left: 5px;
}


/* SP MODAL */
#sp-modal #modal-content {padding:50px;}

@media (min-width: 992px) {
.modal-lg {width: 85%;}

    .col-2_5{
        width: 20.833333%;
        padding-left: 2px;
    }
}


@media (min-width: 768px) {

    .navbar.navbar-default {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: medium none;
        box-shadow: none;
    }

    .navbar-nav > li > a {
        padding-bottom: 3px;
        padding-top: 1px;
        padding-right: 0;
    }
    .site-topmenu {
        position: absolute;
        top:0;
        right:0;
        padding-right:4%;
        padding-top: 135px;
        padding-left: 280px;
        z-index: 0;
        height: 380px;
        background: -moz-linear-gradient(left,  rgba(135,224,253,0) 0%, rgba(197,220,245,0.8) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(135,224,253,0)), color-stop(100%,rgba(197,220,245,0.8))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(135,224,253,0) 0%,rgba(197,220,245, 0.8) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(135,224,253,0) 0%,rgba(197,220,245, 0.8) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(135,224,253,0) 0%,rgba(197,220,245, 0.8) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(135,224,253,0) 0%,rgba(197,220,245, 0.8) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87E0F3', endColorstr='#C5DCF5',GradientType=1 ); /* IE6-9 */

    }

}

.form-table{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.form-table-row{
    display: table-row;
}
.form-table-cell{
    display: table-cell;
    vertical-align: top;
    width: 50%;
    position: relative;
}

.form-table-btn-switch{
    display: table-cell;
    vertical-align: top;
    padding: 7px 3px 0;
    width: 50px;
}
.form-table-btn-switch a{
  padding: 0 10px;
  margin-top: 6px;
  color: #f3f3f3;
}
.form-table-btn-switch a span{
	font-size:25px;
}
.form-table-btn-switch a:hover{
  color: #eee;
}
.navbar-nav > li {
    float: none;
}

@media (max-width: 992px){
    .mainbg{
        height: 530px;
    }

    #form-submit{
        font-size: 32px;
        height: auto;
        margin-top: 30px;
    }
    .text-center-mobile{
        text-align: center;
    }

    .form-col {
        line-height: 0;
        margin-bottom: 17px;
    }

    #slider-range .ui-slider-handle, #slider-range-stopover .ui-slider-handle{
        width: 30px;
        height: 30px;
        top: -0.9em;
    }
    #slider-range, #slider-range-stopover{
        height: 4px;
        margin: 10px 20px;
        width: auto;
    }
    #slider-range-stopover {
        margin-top: 19px;
    }
    label[for='amount']{
        left: -18px;
        top: 0;
    }
    #amount{
        font-size: 21px;
    }




}

@media (max-width: 650px) {
    .mainbg{
        height: 630px;
    }
}

/*SMALL DEVICES ONLY*/
@media (min-width: 768px) and (max-width: 992px) {
    .navbar-nav > li{
        float: left;
    }

    .navbar-collapse.site-topmenu.collapse {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        left: 0;
        padding-left: 15px;
        padding-top: 15px;
        right: auto;
    }
}

/*MOBILE ONLY*/
@media (max-width: 768px) {
    .navbar.navbar-default{
        position: absolute;
        width: auto;
        z-index: 100;
        margin: 10px;
        right: 0;
    }

    .navbar{
        /*noinspection CssInvalidPropertyValue*/
        min-height: auto;
    }
    .travelbase_top_menu{
        padding-bottom: 0;
    }
    .navbar-toggle{
        margin: 0;
    }

    .form-table-btn-switch{
        display: none;
    }

    .form-table-cell {
        display: block;
        width: auto;
    }

    .form-table-cell:first-child {
        margin-bottom: 17px;
    }
}

#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

/* Bootstrap Css Map Fix*/
#map_canvas img {
    max-width: none;
}
/* Bootstrap Css Map Fix*/
#map_canvas label {
    width: auto; display:inline;
}



/* old needs refactoring */

.select2-input {
    /*min-width: 100px !important;*/
}
#block-travelbase-travelbase-image-header .content{
    position: relative;
    height: 400px;
}
#block-travelbase-travelbase-search-form {
    width: 100%;
    position: absolute;
    top: 0;
}

aside, #block-travelbase-travelbase-search-form .col-md-5, #block-travelbase-travelbase-search-form .col-md-4, #block-travelbase-travelbase-search-form .col-md-8, #block-travelbase-travelbase-search-form .col-md-7, #block-travelbase-travelbase-search-form .col-md-6, #block-travelbase-travelbase-search-form .col-md-12 {
    position: static!important;
}
#block-travelbase-travelbase-search-form .ico-flight .form-item {float:left;}
#block-travelbase-travelbase-search-form .ico-flight:nth-of-type(2) {padding:0;}
.travelbase_items {
    clear:both;
    padding: 10px 10px 30px 10px;
    background: #fff;
    border: 0 solid;
}
.travelbase_items > div{
    height: 205px;
    overflow: hidden;
}
#offer-holder, #package-holder{
    height: 100px;
    overflow: hidden;
}
.travelbase_items table tbody tr th {
    font-weight: normal;
    border-bottom: 1px solid #00BE8D;
    padding-top: 10px;
}
.travelbase_items table{
    width: 100%;
}
.travelbase_items table tbody tr:nth-child(even) {
    background: #f9f9f9;
}
.travelbase_items table tbody tr td {
    line-height: 200%;
    font-size:13px;
    white-space: nowrap;
    padding-right: 5px;
}
.travelbase_items #loadMore {
	margin-top: -2px;
    left: 50%;
    background: transparent;
    right: 50%;
    border: none;
    position: absolute;
    width: 50px;
}
.travelbase_items #loadMore span {
    font-size: 33px;
    background: rgba(236, 217, 27, 1);
    width: 38px;
    height: 38px;
    padding-top: 3px;
    color: #00BE8D;
}
.travelbase_items #loadMore span:before {
    text-shadow: 1px 1px 1px #aaa;
    color: #fff;
}
.travelbase_items #loadMore span:hover:before {
    text-shadow: 1px 1px 1px #00BE8D;
    color: #bbb;
}
/* Header right panel with blog headers */
.img-text {
    color: white;
    /* width: 30%; */
    /* padding: 10px; */
    bottom: 20px;
    position: absolute!important;
    right: 0;
    z-index: 100;
    /* background: rgba(0,0,0,0.55); */
    /* height: 180px; */
}
.img-text .date {
    font: bold 12px 'Arimo';
    background: #f9f9f9;
    display: inline;
    padding: 15px;
    color: #222;
}
.img-text h1 {
    font: bold 30px/1.3em 'Arimo';
    margin-bottom: 0;
    margin-top:5px;
    color:#000000;
    text-shadow: 1px 1px #f9f9f9;
    float: left;
    padding:10px 15px 0 15px;
    background:-moz-linear-gradient(#f9f9f9, #eeeeee) repeat scroll 0 0 transparent !important;
    /*noinspection CssOverwrittenProperties*/
    background:-webkit-linear-gradient(#f9f9f9, #eeeeee) repeat scroll 0 0 transparent !important;
    background: -ms-linear-gradient(top, #f9f9f9, #eeeeee); /* IE10 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#eeeeee'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#eeeeee')"; /* IE8+ */
    /*noinspection CssUnknownProperty*/
    -pie-background:linear-gradient(#f9f9f9, #eeeeee) repeat scroll 0 0 transparent !important;
}
.img-text h3 {
    clear: both;
    color: #000000;
    text-shadow: 1px 1px #f9f9f9;
    margin:0;
    padding:5px 15px 0 15px;
    background:#eee;
}
.depth1{
    margin-left: 20px;
}
.depth2{
    margin-left: 40px;
}
.depth3{
    margin-left: 60px;
}
/* TOP filtered topics */
.top-all, .top-filt {
    clear: both;
    margin-left:15px;
}
a.top-link {
    float: right;
    margin: 0 15px 15px 0;
}
a.top-link img {
    border-radius:3px;
    height:55px;
    width:55px;
    box-shadow: 2px 2px #ccc;
}
.top-all .text-link, .top-filt .text-link {
    display: block;
    margin-bottom: 20px;
}
.top-date {
    font-size: 12px;
    color: #777;
}
.top-cities {
    font-size: 12px;
    color: #777;
    font-weight:normal;
}

/* Travelbase search form style */
#travelbase-form .field-one, #travelbase-form .field-two, #travelbase-form .field-three, #travelbase-form .field-four, #travelbase-form .field-five, #travelbase-form .field-six {
    display:inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}
/* From fields */
#travelbase-form .field-one, #travelbase-form .field-three {
    min-width: 150px;
    max-width: 330px;
    margin-right: 15px;
}
#travelbase-form .field-two {
    margin-right: 30px;
}
#travelbase-form .field-four {
    clear:both
}
/* Travelbase search form more options checkboxes */
.option-div .form-type-checkbox {
}
.options input[type="radio"],
.options input[type="checkbox"] {
    display:none;
}
.options input[type="radio"] + label:before,
.options input[type="checkbox"] + label:before {
    font-family: 'FontAwesome', serif;
    padding-right: 6px;
    font-size: 20px;
}
.options input[type="checkbox"]:checked + label:before {
    padding-right: 3px;
}
.options input[type="radio"] + label:before {
    content: "\f10c"; /* circle-blank */
}
.options input[type="radio"]:checked + label:before {
    content: "\f111"; /* circle */
}
.options input[type="checkbox"] + label:before {
    content: "\f096"; /* check-empty */
}
.options input[type="checkbox"]:checked + label:before {
    content: "\f046"; /* check */
}
#travelbase-form .engine-offset{
    padding-left:7%;
}
#travelbase-form .form-item-departure-city{
    box-sizing: border-box;
    display: inline-block;
    float:left;
    margin-right:4px;
}
#travelbase-form label{
    text-decoration: underline;
    font-weight: normal;
}
#travelbase-form .form-item-destination-city{
    box-sizing: border-box;
    display: inline-block;
    float:left;
    margin-right:4px;
}
#travelbase-form #edit-destination-country, #edit-departure-city{
    display: inline-block;
    width: 1px;
    height: 1px;
}
#travelbase-form .description{
    display: none;
}
#travelbase-form .form-type-date-popup > label{
    /*float: left;*/
    display: none;
}
#travelbase-form .form-item-date-start-date > label, #travelbase-form .form-item-date-end-date > label{
    /*display: none;*/
}
#travelbase-form input.form-text, textarea.form-textarea, select {
    padding: 5px;
}

.form-type-select label, .form-item label {
    cursor:pointer;
}
.form-item-date-start-date label img, .form-item-date-end-date label img {
    display:inherit;
}

#travelbase-form .container-inline-date .date-padding {
    padding:0 0 0 15px;;
}
#travelbase-form .container-inline-date > .form-item {
    margin-bottom:0;
    margin-right:0;
}
#travelbase-form .form-item, .form-actions {
    margin-top:0;
    margin-bottom:0;
}
#travelbase-form .form-item-price {
    width:100%;
}
#travelbase-form .options-row {
    margin-top:15px;
}
#travelbase-form .options-row img, #travelbase-form .options {
    margin-top: 5px;
}
#travelbase-form .options label {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    margin-right: 15px;
}
#travelbase-form a.toggle{
    margin: 0 0 0 7px;
    color: #000;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
}
#travelbase-form .text-underline {
    text-decoration: underline;
    color: #f2f2f2;
}
#travelbase-form #options .form-item{
    margin: 5px 0;
}
#travelbase-form #options .option-div{
    margin: 0 5px;
}
#travelbase-form #options .option-div .option{
    color:#fff;
}
#travelbase-form .city-picker-list{
    color: #f9f9f9;
    border-bottom: 1px solid #000;
    position: relative;
    display: table;
}

.date{
    color: #f9f9f9;
    font-size: 15px;
}
.city-picker .column ul li i.glyphicon {
    color: #999;
}

#travelbase-form .city-picker-list .form-list-close {
    color:#eee;
    position:absolute;
    top:-5px;
    font-size: 22px;
    right:-20px;
    text-decoration:none;
}
#travelbase-form .city-picker-list .form-list-close:hover {
    color:#ccc;
}
#travelbase-form .city-picker-list .form-list-close span {
    display: block;
    line-height: 0.7em;
    width: 14px;
}
#block-travelbase-travelbase-recent-sun{
}
.form-item-company{
    height: 1px;
    margin: 0;
    display: flex;
}

/* SUBSCRIPTION BLOCK */
.block.block-total-subscription {
}
#edit-mail{
    width: 230px;
}
.travelbase_items .active {
    font-weight: bold;
}
@media (min-width: 992px) {
    #travelbase-form .form-second, #travelbase-form .form-third {
        margin-top: 20px!important;
    }
}
@media (max-width: 1370px) {
    .img-text h1 {
        font-size: 28px!important;
    }
}
@media (max-width: 1100px) {
    .img-text h1 {
        font-size: 22px!important;
    }
}
@media (max-width: 992px) {
    .city-picker{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .form-item-date-start-date label img, .form-item-date-end-date label img {
        margin-left:6px;
        margin-right: 6px;
    }
    #block-travelbase-travelbase-search-form .col-md-5, #block-travelbase-travelbase-search-form .col-md-4, #block-travelbase-travelbase-search-form .col-md-8, #block-travelbase-travelbase-search-form .col-md-7, #block-travelbase-travelbase-search-form .col-md-6 {
        padding-bottom: 10px;
    }
    .site-logo {
        display:none;
    }
    #travelbase-form .field-one, #travelbase-form .field-two, #travelbase-form .field-three, #travelbase-form .field-four {
    }
    /* From fields */
    #travelbase-form .field-one, #travelbase-form .field-three {
        width: 250px;
    }
}


#ui-datepicker-div {
    z-index: 9999!important;
}
/* Form popup lists */


.no-cities {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 4px;
}
.city-search {
    border:1px solid #ccc!important;
    border-radius:3px 0 0 3px;
    height: 34px;
    padding:3px 8px;
    float: left;
    box-shadow: 2px 2px #ccc;
}
label[for=city-search] {
    background:url(http://ku.markmedia.fi/sites/default/files/images/i-sea.png) no-repeat top left;
    width:25px;
    height:40px;
    padding:3px 3px 3px 8px;
    float:left;
}
label[for=spa], label[for=map], label[for=ski], label[for=sun] {
    height:34px;
    display:inline-table;
    padding-left:47px!important;
    margin-right:8px!important;
    width:77px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 2px #ccc;
    background: no-repeat 8px top;
}
.city-picker input[type="checkbox"]:checked + label[for=spa],
.city-picker input[type="checkbox"]:checked + label[for=ski],
.city-picker input[type="checkbox"]:checked + label[for=sun] {
    margin: 1px 0 0 3px;
}
label[for=map] {
    background-image:url(http://ku.markmedia.fi/sites/default/files/images/i-map.png);
    margin-left:20px!important;
}
label[for=spa] {
    background-image:url(http://ku.markmedia.fi/sites/default/files/images/i-spa.png);
}
label[for=ski] {
    background-image:url(http://ku.markmedia.fi/sites/default/files/images/i-ski.png);
}
label[for=sun] {
    background-image:url(http://ku.markmedia.fi/sites/default/files/images/i-bea.png);
}
.city-list {
    clear: both;
    margin-top: 15px;
}
/* Homepage form */
.form-item label {margin:0}
.form-item .ico-price {
    position: absolute;
    left: -35px;
}
.priceline {
    margin-left: 38px;
    padding-left: 15px;
    margin-right: 65px;
    width: 100px;
    position:relative!important;
}
label[for=ski], label[for=sun], label[for=spa] {
    float:right
}
/* Form pricefield */
.form-item .sliderfield-display-values-field { color:#fff }
.form-item-price .ui-state-default, .form-item-price .ui-widget-content .ui-state-default, .form-item-price .ui-widget-header .ui-state-default {
    font-weight: 400;
    border-radius: 15px;
    color: #555;
    width: 0.8em;
    height: 0.8em;
    background: #F8C701;
    border: 1px solid #000;
    cursor:pointer;
}
.form-item .ui-slider-horizontal {
    height: 1px;
}
#edit-price .ui-widget-content, #edit-price .ui-widget-content .ui-slider-range {
    border: none!important;
    background: #000;
}
.form-item .sliderfield .sliderfield-bubble {
    top: 15px;
    color: #fff;
    border: none;
    background:transparent;
    font: italic 12px 'Arimo';
    padding: 0 3px;
}
/* Homepage tabs */
#page #main-content .container .col-md-7 {margin-top: -40px;}
.nav-tabs > li > a {border-radius:0;margin-right:0}
/* Homepage articles */
.view-homepage td.col-1 {width:50%;}
.article-headaaa {top:50%;position:relative;transform:translateY(-50%)}
/*#header-inside,*/
.article-bg {
    height:380px;
    background: no-repeat scroll center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* Homepage slider */
#page #main-content{ padding:0 0 30px 0;z-index:9;position: relative;}
.slider-wrapper {width:350px;float:right;margin-top:-180px;z-index: 99;position: relative;}
.field-type-taxonomy-term-reference{ float:none;}
.vertical-tabs ul.vertical-tabs-list li{list-style: none outside none;}
#header > .container, #main-content > .container {width:100%;}
#header > .container, #header > .container .row, #header > .container .row .col-md-12, .block-nivo-slider {padding:0;margin:0}
.block-nivo-slider {width:100px;float:right}
.theme-default .nivoSlider {box-shadow: none;position:relative;margin:0;overflow: visible;}
.theme-default .nivo-controlNav {position: absolute;top: -50px;}
.theme-default .nivoSlider .nivo-caption .date {display:inline-block;background:#000;padding: 5px;opacity:0.8;bottom:50%;right:5%;font:12px/1.5em 'Arimo';}
.theme-default .nivoSlider .nivo-caption p {font:16px/1.5em 'Arimo';}
/* Blog page */
#travelbase_header h3, #travelbase_footer h3 {font-size:11px;margin:0;font-weight:normal;}
#travelbase_header h1 {font-size:26px;margin:10px 0;font-weight:normal;}
#travelbase_header h2 {font-size:14px;margin:0;font-weight:normal;}
#block-search-form {
    position: absolute;
    top: -355px;
    margin-left: -15px;
    width: 180px;
}
/* Search engine tabs */
ul#form-type-switcher { padding: 0;
    margin: 0;
    text-align: center;
    border:none;
}
ul#form-type-switcher li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none; 
    background-color: #fafafa;
    white-space: nowrap;
}
ul#form-type-switcher li {
    margin-right: 2px;
    
    background:-moz-linear-gradient(#F2E022, #F4BF17) repeat scroll 0 0 transparent !important;
    /*noinspection CssOverwrittenProperties*/
    background:-webkit-linear-gradient(#F2E022, #F4BF17) repeat scroll 0 0 transparent !important;
	background: -ms-linear-gradient(top, #F2E022, #F4BF17); /* IE10 */ 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ECBA1C', endColorstr='#F4BF17'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2E022', endColorstr='#F4BF17')"; /* IE8+ */
    /*noinspection CssUnknownProperty*/
    -pie-background:linear-gradient(#F2E022, #F4BF17) repeat scroll 0 0 transparent !important;
}
ul#form-type-switcher li a {
    display: inline-block;
    line-height: 40px;
    padding: 0 5px 5px 5px;
    border: 0;
    height: 40px; 
    font-size: 15px;
    color:#6C590B;
    text-shadow: 1px 1px #FEDE5C;
    position: relative;
    font-weight: bold;
}
ul#form-type-switcher li .badge {
    background:none;
    color: #9F8311;
    padding:3px 7px 3px 0;
}
#travelbase_tabs li.active .badge {
    color: #B79613;
}
	
ul#form-type-switcher li a:hover {
	background-color: rgba(238, 208, 87, 0.9); 
	text-decoration:none;
}


ul#form-type-switcher  li.active, ul#form-type-switcher  li.active:hover, ul#form-type-switcher  li.active:focus{
    background:-moz-linear-gradient(#dddddd, #ffffff) repeat scroll 0 0 transparent !important;
    /*noinspection CssOverwrittenProperties*/
    background:-webkit-linear-gradient(#dddddd, #ffffff) repeat scroll 0 0 transparent !important;
	background: -ms-linear-gradient(top, #dddddd, #ffffff); /* IE10 */ 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#ffffff'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#ffffff')"; /* IE8+ */
    /*noinspection CssUnknownProperty*/
    -pie-background:linear-gradient(#dddddd, #ffffff) repeat scroll 0 0 transparent !important;
}

#travelbase_tabs li.active a, ul#form-type-switcher  li.active a:hover, ul#form-type-switcher  li.active a:focus{
    background-color: transparent;
    color: #000;
    text-shadow: 1px 1px #f9f9f9;
}

ul#form-type-switcheeeeeer li.active:after {
    position: absolute;
    content: '';
    bottom: -8px;
    left: 50%;
    margin-left: -7px;
    width: 0;
    height: 0;
    display: inline-block;
    border: 7px solid transparent;
    border-top: 8px #00BE8D;
    border-bottom-width: 0;
}
ul#form-type-switcher li a img {
    float: right;
    margin-right: 5px;
}
/* ASIDE */
aside.aside-first {
    background: #eee;
    border-radius: 0 0 0 10px;
}
aside.aside-second {
    float: right;
}

/*newsletter*/
.dot-brdr-bottom.main-offer-block {
    background-color: white;
}
.headerContent {
    background-color: white;
}
.plane-tickets {
    background-color: white;
}