<div class="tab-pane" id="baltica" style="position: relative">

    {#{% include '@SandboxWebsite/Travelbase/balticaMap.html.twig' %}#}

    {#<script>#}
        {#$('a[href="#baltica"]').on('shown.bs.tab', function(e)#}
        {#{#}
            {#google.maps.event.trigger(map, 'resize');#}
        {#});#}
    {#</script>#}

    <div class="row nomargin" id="baltica-holder">
        {#{{ render(controller('SandboxWebsiteBundle:Package:getPackages')) }}#}
    </div>
    <div id="baltica-pager" class="loadDiv">
        <a href="#" ><span class="fa fa-angle-double-down"></span></a>
    </div>

    {% include '@SandboxWebsite/Travelbase/tabBody/registerOverlay.html.twig' %}
</div>