<div class="tab-pane active" id="hot-offers">
    <div class="travelbase_items travelbase_items_df" data-filter-type="[1,2]" data-badge="#hot-offers-badge"></div>
    <div class="progressbar"></div>
</div>