<div class="tab-pane" id="packages">
    <div class="row nomargin" id="package-holder">
        {{ render(controller('SandboxWebsiteBundle:Package:getPackages')) }}
    </div>
    <div id="package-pager" class="loadDiv">
        <a href="#" ><span class="fa fa-angle-double-down"></span></a>
    </div>
</div>