{% extends '@SandboxWebsite/Email/template.html.twig' %}

{% block message %}
    <p>
        Thank you for joining our Club<br/>
        User email:{{ email }}<br/>
        Password: {{ password }}<br/>
        To activate your email follow this link:<br/>
        {{ baseurl }}/activate/{{ hash }}

    </p>
{% endblock %}