{% if host is defined and host is not null %}
    <div class="row">
        <div class="col-md-12">
            {% if host.seoModules|length  > 0 %}
                {% for seoModule in host.seoModules %}
                    {% if seoModule.lang == app.request.locale
                        and seoModule.hosts.contains(host)
                        and seoModule.entity == get_node_for(page).refEntityName
                    %}
                        {{ seoModule.top | replace({'[title]' : page.title})| raw  }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endif %}