<div class="hotel-gallery-pp">
    <div class="row">
        {% for image in resource.images %}
            <div class="col-md-3">
                <a class="fancybox" rel="group2" href="{{ image.imageUrl }}">
                    <img src="{{ image.imageUrl }}" class="img-responsive"/>
                </a>
            </div>
        {% endfor %}
    </div>
</div>