<div class="hotel-gallery-pp">
    <div class="row">
        {% for image in resource.images %}
            <div class="col-md-3">
                <img src="{{ image.imageUrl }}" class="img-responsive"/>
            </div>
        {% endfor %}
    </div>
</div>