<div style="margin-top: -99999px" class="city-picker" id="dropdown-departure">
    <div class="city-filters row">
        <div class="col-md-7">
        	<h2 class="form-item-header">{{ 'dropdown.destinations.header' |trans({}, 'frontend') }}</h2>
        	<div class="form-item-desc">{{ 'dropdown.destinations.description' |trans({}, 'frontend') }}</div>
        </div>
        <div class="col-md-4 col-md-offset-1 text-right"> 
        	<input name="city-search" class="city-search" type="text"><label for="city-search"></label>
        	<input id="806880" class="all" name="check-all" type="checkbox"><label
                style="display: inline-block;"
                class="check-all no" for="806880"></label>
        </div> 
    </div>


    <div class="city-list row">
        <div class="no-cities" style="display: none">{{ 'no.destinations.found' | trans }}</div>
        <span class="city-picker-close glyphicon glyphicon-remove"></span>
        {% if host and host.hideFlyFrom != true and host.fromPlaces|length > 0 %}
            <div class="columnize col-sm-9">
                {% include '@SandboxWebsite/Dropdown/departureCitylist.html.twig' %}
            </div>
            <div class="col-sm-3 host-from-places">
                {% include '@SandboxWebsite/Dropdown/fromcities.html.twig' %}
            </div>
        {% else %}
            <div class="columnize col-sm-12">
                {% include '@SandboxWebsite/Dropdown/departureCitylist.html.twig' %}
            </div>
        {% endif %}
    </div>
</div>