<div class="hotel-information-pp">
    <div class="row">
        <div class="col-md-12">
            <p>{{ resource.name }}</p>
            <p>{{ resource.description|raw }}</p>
            {% if resource.images %}
                <div class="row">
                    {% for image in resource.images %}
                        <div class="col-md-3">
                            <img src="{{ image.imageUrl }}" class="img-responsive"/>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>