<li class="">
    <a class="{% if host and host.tabs|length == 1 %}hide{% endif %}" href="#baltica" data-toggle="tab" data-type="baltica" data-form="#form-baltica">
        &nbsp;
                <span class="visible-xs-inline-block visible-sm-inline-block">
                    <span class="fa fa-suitcase"></span>
                </span>
                <span class="visible-md-inline visible-lg-inline">
                    {{ 'baltica.tab' | trans({}, 'frontend') }}
                </span>
        &nbsp;
        {#<span id="baltica-badge" class="badge">{{ total_packages(app.request.locale) }}</span>#}
        <span id="baltica-badge" class="badge"></span>
        <span id="baltica-badge-loading" class="badge spinner"></span>
    </a>
</li>