<li class="">
    <a href="#cruises" data-toggle="tab" data-type="cruises" data-form="">
        &nbsp;
                <span class="visible-xs-inline-block visible-sm-inline-block">
                    <span class="fa fa-ship"></span>
                </span>
                <span class="visible-md-inline visible-lg-inline">
                    {{ 'Cruises' | trans({}, 'frontend') }}
                </span>
        &nbsp;
    </a>
</li>