<li class="active">
    <a href="#hot-offers" data-toggle="tab" data-type="flight-hotel" data-form="#form-flight">
        &nbsp;
                <span class="visible-xs-inline-block visible-sm-inline-block">
                    <span class="fa fa-paper-plane"></span>
                    <span class="fa fa-plus"></span>
                    <span class="fa fa-bed"></span>
                </span>
                <span class="visible-md-inline visible-lg-inline">
                    {{ 'flights.hotel' | trans({}, 'frontend') }}
                </span>
        &nbsp;
        <span id="hot-offers-badge" class="badge"></span>
        <span id="hot-offers-badge-loading" class="badge spinner"></span>
    </a>
</li>