<li class="">
    <a href="#lowcost" data-toggle="tab" data-type="flightHotel" data-form="#form-flight">
        &nbsp;
                <span class="visible-xs-inline-block visible-sm-inline-block">
                    <span class="fa fa-paper-plane"></span>
                </span>
                <span class="visible-md-inline visible-lg-inline">
                    {{ 'only.flights' | trans({}, 'frontend') }}
                </span>
        &nbsp;
        <span id="lowcost-badge" class="badge"></span>
        <span id="lowcost-badge-loading" class="badge spinner"></span>
    </a>
</li>