<li class="">
    <a href="#offers" data-toggle="tab" data-type="offers" data-form="">
        &nbsp;
                <span class="visible-xs-inline-block visible-sm-inline-block">
                    <span class="fa fa-suitcase"></span>
                </span>
                <span class="visible-md-inline visible-lg-inline">
                    {{ 'offers' | trans({}, 'frontend') }}
                </span>
        &nbsp;
    </a>
</li>