<li class="">
    <a href="#packages" data-toggle="tab" data-type="packages" data-form="#form-package">
        &nbsp;
                <span class="visible-xs-inline-block visible-sm-inline-block">
                    <span class="fa fa-suitcase"></span>
                </span>
                <span class="visible-md-inline visible-lg-inline">
                    {{ 'packages' | trans({}, 'frontend') }}
                </span>
        &nbsp;
    </a>
</li>