{#<option data-type="offers" value="#offers" data-form="#form-offer">{{ 'offers' | trans({}, 'frontend') }}</option>#}
{#<li class="">#}
    {#<a href="#offers" data-toggle="tab" data-type="offers" data-form="#form-offer">#}
        {#&nbsp;#}
                {#<span class="visible-xs-inline-block visible-sm-inline-block">#}
                    {#<span class="fa fa-suitcase"></span>#}
                {#</span>#}
                {#<span class="visible-md-inline visible-lg-inline">#}
                    {#{{ 'offers' | trans({}, 'frontend') }}#}
                {#</span>#}
        {#&nbsp;#}
    {#</a>#}
{#</li>#}