<div id="sp-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="row">
                <div id="modal-content" class="col-sm-12">

                </div>
            </div>
        </div>
    </div>
</div>