<form action="#" method="post">
    <input type="hidden" value="add" name="action"/>
    <input type="submit" value="Add"/>
</form>

<form action="#" method="post">
    <input type="hidden" value="skip" name="action"/>
    <input type="submit" value="Skip"/>
</form>

{{ output|raw }}