<h1>{{ page.title }}</h1>
<br/>
<p>{{ page.summary }}</p>
<a href="{{ url('_slug', { 'url' : get_node_translation_for(page).fullSlug } ) }}">Read more</a>
<br/>
<br/>
To manage your subscrpiptions follow this url:<br/>
{{ url('sandbox_website_subscription_unsubscribe', { 'hash' : subscription.hash }) }}
