{% include '@SandboxWebsite/Travelbase/balticaMap.html.twig' %}
<style>
    #map_wrapper{
        width: 100%;
        right: -100%;
        transition: right 1s ease;
        z-index: 106;
    }
    #map-toggle-wrapper{
        position: fixed;
        top: 50%;
        left: 0;
        z-index: 999;
         -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        transform: translate3d(0,0,0);
    }
    #map-close{
        position: fixed;
        top: 30px;
        right: 20px;
        z-index: 200;
    }
    #map-close .close{
        background: transparent linear-gradient(#9d9a91, #34373c) repeat scroll 0 0 !important;
        border-radius: 40px;
        color: #000;
        display: none;
        font-size: 45px;
        opacity: 1;
        padding: 5px 16px 8px;
        text-shadow: 1px 1px #de7b7a;
    }
    #map_wrapper.map-show{
        right: 0;
    }
    #map_wrapper .register-form{
        display: none;
    }
</style>
<div id="map-toggle-wrapper">
    <a id="map-toggle" href="#" class="hidden-xs">
        <img src="{{ asset('bundles/sandboxwebsite/img/icons/deals-map-' ~ app.request.locale ~ '.png') }}"/>
    </a>
</div>
<div id="map-close">
    <button class="close" type="button"><span aria-hidden="true">×</span></button>
</div>
<script>
    $(document).ready(function () {
        $('#map-toggle, #map-close .close').click(function () {
            $('#map_wrapper .register-form').show();
            if($('#map_wrapper').hasClass('map-show')){
                $('#map_wrapper').removeClass('map-show');
                $('#map-close .close').hide();
                $('#map-toggle-wrapper').show();
            }else{
                $('#map_wrapper').addClass('map-show');
                $('#map-close .close').show();
                $('#map-toggle-wrapper').hide();
            }

            return false;
        });
    });
</script>