
<div id="back-btn"></div>
<div id="map_wrapper" style="width: 100%; height: 400px">
    <div id="map_canvas" class="mapping" style="width: 100%; height: 400px"></div>
</div>

<script>
    jQuery(function($) {
        // Asynchronously Load the map API
        var script = document.createElement('script');
        script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
        document.body.appendChild(script);
    });
    var placesCache = [];
    var placesInfoCache = [];
    var map;
    var markers = [];
    var update = true;

    var infoWindows = [];

    function initialize() {
        var geocoder;

        var bounds = new google.maps.LatLngBounds();
        var mapOptions = {
            mapTypeId: 'roadmap',
            zoom: 10,
            center: new google.maps.LatLng(59.42, 24.7)
        };

        // Display a map on the page
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        map.setTilt(45);
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM]
                .push(document.getElementById('back-btn'));

        geocoder = new google.maps.Geocoder();

        google.maps.event.addListener((map), 'idle', function(event) {

            if(!update) return;

            var bounds = map.getBounds();

            var topRight = bounds.getNorthEast();
            var bottomLeft = bounds.getSouthWest();

            update = false;
            $.get('/app_dev.php/gbb/' + topRight.lat() + "/" + topRight.lng() + "/" + bottomLeft.lat() + "/" + bottomLeft.lng() + "/" + map.getZoom(), function (responce) {
                //console.log(responce);
                var j;
                //clear all markers
                for(j=0; j<markers.length; j++){
                    markers[j].setMap(null);
                }
                //clear all infowindows
                for(j=0; j<infoWindows.length; j++){
                    infoWindows[j].close();
                }

                // Display multiple markers on a map
                var infoWindow = new google.maps.InfoWindow(), marker, i;

                markers = [];
                //add markers
                var timeout = 1;
                for(i=0; i<responce.length; i++){
                    (function(){

                        var hotel = responce[i];

                        if(placesCache[hotel.city.toLowerCase()] != undefined){

                            var infW = new google.maps.InfoWindow({disableAutoPan: true});
                            //infW.setContent(placesInfoCache[hotel.city.toLowerCase()]);
                            infW.setContent(hotel.html);
                            infW.setPosition(placesCache[hotel.city.toLowerCase()]);
                            infW.open(map);
                            infoWindows.push(infW);
                        }else{
                            timeout += 500;
                            setTimeout(function () {
                                geocoder.geocode( { 'address': hotel.city}, function(results, status) {
                                    if (status == google.maps.GeocoderStatus.OK) {
                                        placesCache[hotel.city.toLowerCase()] = results[0].geometry.location;
                                        placesInfoCache[hotel.city.toLowerCase()] = hotel.html;
//                                        markers.push(marker);

                                        var infW = new google.maps.InfoWindow({disableAutoPan: true});
                                        infW.setContent(hotel.html);
                                        infW.setPosition(results[0].geometry.location);
                                        infW.open(map);
                                        infoWindows.push(infW);

                                    } else {
                                        console.log('Geocode was not successful for the following reason: ' + status);
                                    }
                                });
                            }, timeout);

                        }


                    })();




                }

                if(map.getZoom() > 11){
                    $('.airbnb-badge').removeClass('hide');
                }else{
                    $('.airbnb-badge').addClass('hide');
                }

                update = true;
            });

        });

    }

    function backBtn(){
        update = true;
        $('#back-btn').html('');
        google.maps.event.trigger(map, 'idle');
        map.setZoom(12);
    }

    function loadHotelsByCity(link){
        $(link).closest('.gm-style-iw').next().click();
        var bounds = map.getBounds();

        var topRight = bounds.getNorthEast();
        var bottomLeft = bounds.getSouthWest();

        $.get('/app_dev.php/ghbcb/' + $(link).data('city') + '/' + topRight.lat() + "/" + topRight.lng() + "/" + bottomLeft.lat() + "/" + bottomLeft.lng(), function (responce) {
            //console.log(responce);

            $('#back-btn').html("<a href='#' onclick='return backBtn()' class='btn btn-default btn-lg'> back </a>");

            //clear all markers
            for(var j=0; j<markers.length; j++){
                markers[j].setMap(null);
            }

            // Display multiple markers on a map
            var infoWindow = new google.maps.InfoWindow(), marker, i;

            markers = [];

            var markerBounds = new google.maps.LatLngBounds();

            //add markers
            for(i=0; i<responce.length; i++){
                (function(){

                    var hotel = responce[i];

                    var position = new google.maps.LatLng(hotel.lat, hotel.long);
                    markerBounds.extend(position);

                    marker = new google.maps.Marker({
                        position: position,
                        title:""
                    });

                    if(hotel.icon){
                        marker.setIcon(hotel.icon);
                    }

                    markers.push(marker);
                    marker.setMap(map);
                    google.maps.event.addListener(marker, 'click', (function(marker) {
                        return function() {
                            infoWindow.setContent(hotel.html);
                            infoWindow.open(map, marker);
                        }
                    })(marker));

                    map.fitBounds(markerBounds);
                })();
            }

            if(map.getZoom() > 15) map.setZoom(15);

            update = false;
        });
        return false;
    }


    function loadActivityByCity(link){
        $(link).closest('.gm-style-iw').next().click();
        var bounds = map.getBounds();

        var topRight = bounds.getNorthEast();
        var bottomLeft = bounds.getSouthWest();

        $.get('/app_dev.php/gabcb/' + $(link).data('city') + '/' + topRight.lat() + "/" + topRight.lng() + "/" + bottomLeft.lat() + "/" + bottomLeft.lng(), function (responce) {
            //console.log(responce);

            $('#back-btn').html("<a href='#' onclick='return backBtn()' class='btn btn-default btn-lg'> back </a>");

            //clear all markers
            for(var j=0; j<markers.length; j++){
                markers[j].setMap(null);
            }

            // Display multiple markers on a map
            var infoWindow = new google.maps.InfoWindow(), marker, i;

            markers = [];

            var markerBounds = new google.maps.LatLngBounds();

            //add markers
            for(i=0; i<responce.length; i++){
                (function(){

                    var hotel = responce[i];

                    var position = new google.maps.LatLng(hotel.lat, hotel.long);
                    markerBounds.extend(position);

                    marker = new google.maps.Marker({
                        position: position,
                        title:""
                    });

                    if(hotel.icon){
                        marker.setIcon(hotel.icon);
                    }

                    markers.push(marker);
                    marker.setMap(map);
                    google.maps.event.addListener(marker, 'click', (function(marker) {
                        return function() {
                            infoWindow.setContent(hotel.html);
                            infoWindow.open(map, marker);
                        }
                    })(marker));

                    map.fitBounds(markerBounds);
                })();
            }

            if(map.getZoom() > 15) map.setZoom(15);

            update = false;
        });
        return false;
    }

</script>