<!--suppress ALL -->
<style>
    .map-info-window{
        background: none repeat scroll 0 0 transparent;
        /*#e9e9e9*/
        border-radius: 0;
        /*box-shadow: 8px 8px 16px #222;*/
        color: #232323;
        /*max-height: 300px;*/
        /*max-width: 200px;*/
        min-width: 20px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
    }

    .map-info-window .map-info-close{
        background-color: white;
        cursor: pointer;
        float: right;
        font-size: 13px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 3px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .map-info-window .map-info-close:hover{
        text-decoration: underline;
    }

    .map-info-window h5{
        font-weight:bold;
    }

    .map-info-window p{
        color: #000;
    }

    .map-window-all {
        background-color: #e9e9e9;
        padding: 10px;
        box-shadow: 8px 8px 16px #222;
        margin: 30px;
        max-width: 200px;
    }

    .map-window-all-mini {
        background-color: transparent;
        border-radius: 15px;
        box-shadow: 8px 8px 14px #222;
        margin: 30px;
    }
    .map-window-item {
        color: white;
        font-size: 12px;
        min-height: 50px;
        min-width: 55px;
        padding-top: 14px;
    }
    .map-window-item a{
        color: white;
    }

    .map-popup-item{
        background: none repeat scroll 0 0 white;
        padding: 5px 10px;
        min-height: 50px;
        min-width: 55px;
    }
    #map_wrapper{
        position: fixed;
        top: 0;
        bottom: 0;
        width: 42%;
        height: 100%;
    }

    .clubbar{
        position: fixed;
        width: 42%;
        z-index: 9;
    }
</style>


<div id="back-btn"></div>
<div id="map_wrapper">
    <div id="map_canvas" class="mapping" style="width: 100%; height: 100%"></div>
</div>
<script src="{{ asset('bundles/sandboxwebsite/frontend/js/infoWindow.js') }}"></script>
<script>
    jQuery(function($) {
//        // Asynchronously Load the map API
//        var script = document.createElement('script');
//        script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
//        document.body.appendChild(script);
        initialize();
    });
    var placesCache = [];
    var placesInfoCache = [];
    var map;
    var markers = [];
    var update = true;
    var infoWindows = [];
    var markerBounds;
    var popups = [];

    function initialize() {
        var MY_MAPTYPE_ID = 'custom_style';
        var featureOpts = [
            {
                stylers: [
                    { hue: '#A3C5CC' },
                    { visibility: 'simplified' },
                    { gamma: 0.5 },
                    { weight: 0.5 }
                ]
            },
            {
                featureType: "poi",
                elementType: 'labels',
                stylers: [
                    { visibility: 'off' }
                ]
            },
            {
                featureType: 'water',
                stylers: [
                    { color: '#116C99' }
                ]
            }
        ];


        var geocoder;

        markerBounds = new google.maps.LatLngBounds();

        var bounds = new google.maps.LatLngBounds();
        var mapOptions = {
            mapTypeId: MY_MAPTYPE_ID,
            zoom: 10,
            center: new google.maps.LatLng(59.42, 24.7)
        };

        // Display a map on the page
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        map.setTilt(45);
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM]
                .push(document.getElementById('back-btn'));

        geocoder = new google.maps.Geocoder();

        var styledMapOptions = {
            name: 'Custom Style'
        };

        var customMapType = new google.maps.StyledMapType(featureOpts, styledMapOptions);

        map.mapTypes.set(MY_MAPTYPE_ID, customMapType);


        google.maps.event.addListener((map), 'idle', function(event) {

            if(!update) return;

            var bounds = map.getBounds();

            var topRight = bounds.getNorthEast();
            var bottomLeft = bounds.getSouthWest();

            update = false;
            $.get('/gbb/' + topRight.lat() + "/" + topRight.lng() + "/" + bottomLeft.lat() + "/" + bottomLeft.lng() + "/" + map.getZoom(), function (responce) {
                //console.log(responce);
                var j;
                //clear all markers
                for(j=0; j<markers.length; j++){
                    markers[j].setMap(null);
                }
                //clear all infowindows
                for(j=0; j<infoWindows.length; j++){
                    infoWindows[j].close();
                }
                //clear all popups
                for(j=0; j<popups.length; j++){
                    popups[j].setMap(null);
                }
                // Display multiple markers on a map
                var infoWindow = new google.maps.InfoWindow(), marker, i;

                markers = [];
                //add markers
                var timeout = 1;
                for(i=0; i<responce.length; i++){
                    (function(){

                        var hotel = responce[i];

                        if(hotel.city == null){
                            var infW = new (GenCustomWindow())();
                            //infW.setContent(placesInfoCache[hotel.city.toLowerCase()]);
                            infW.setContent(hotel.html);
                            infW.setPopup(hotel.popup);
                            infW.setPosition(new google.maps.LatLng(hotel.lat, hotel.long));
                            infW.open(map);
                            infoWindows.push(infW);
                        }else if(placesCache[hotel.city.toLowerCase()] != undefined){

                            //var infW = new google.maps.InfoWindow({disableAutoPan: true});
                            var infW = new (GenCustomWindow())();
                            //infW.setContent(placesInfoCache[hotel.city.toLowerCase()]);
                            infW.setContent(hotel.html);
                            infW.setPosition(placesCache[hotel.city.toLowerCase()]);
                            infW.open(map);
                            infoWindows.push(infW);
                        }else{
                            timeout += 500;
                            setTimeout(function () {
                                geocoder.geocode( { 'address': hotel.city}, function(results, status) {
                                    if (status == google.maps.GeocoderStatus.OK) {
                                        placesCache[hotel.city.toLowerCase()] = results[0].geometry.location;
                                        placesInfoCache[hotel.city.toLowerCase()] = hotel.html;
//                                        markers.push(marker);

                                        //var infW = new google.maps.InfoWindow({disableAutoPan: true});
                                        var infW = new (GenCustomWindow())();
                                        infW.setContent(hotel.html);
                                        infW.setPosition(results[0].geometry.location);
                                        infW.open(map);
                                        infoWindows.push(infW);

                                    } else {
                                        console.log('Geocode was not successful for the following reason: ' + status);
                                    }
                                });
                            }, timeout);

                        }


                    })();




                }

                if(map.getZoom() > 11){
                    $('.airbnb-badge').removeClass('hide');
                }else{
                    $('.airbnb-badge').addClass('hide');
                }

                update = true;
            });

        });
    }

    function backBtn(){
        update = true;
        $('#back-btn').html('');
        map.fitBounds(markerBounds);

        //clear all popups
        for(var j=0; j<popups.length; j++){
            popups[j].setMap(null);
        }

        if(map.getZoom() > 12){
            map.setZoom(12);
        }
        google.maps.event.trigger(map, 'idle');

        return false;
    }

    function loadHotelsByCity(link){
        //$(link).closest('.gm-style-iw').next().click();
        $(link).closest('.map-info-window').hide();
        var bounds = map.getBounds();

        var topRight = bounds.getNorthEast();
        var bottomLeft = bounds.getSouthWest();

        $.get('/ghbcb/' + $(link).data('city') + '/' + topRight.lat() + "/" + topRight.lng() + "/" + bottomLeft.lat() + "/" + bottomLeft.lng(), function (responce) {
            //console.log(responce);

            $('#back-btn').html("<a href='#' onclick='return backBtn()' class='btn btn-danger btn-lg'> back </a>");

            //clear all markers
            for(var j=0; j<markers.length; j++){
                markers[j].setMap(null);
            }

            // Display multiple markers on a map
            var infoWindow = new google.maps.InfoWindow(), marker, i;

            markers = [];

            markerBounds = new google.maps.LatLngBounds();

            //add markers
            for(i=0; i<responce.length; i++){
                (function(){

                    var hotel = responce[i];

                    var position = new google.maps.LatLng(hotel.lat, hotel.long);
                    markerBounds.extend(position);

                    marker = new google.maps.Marker({
                        position: position,
                        title:""
                    });

                    if(hotel.icon){
                        marker.setIcon(hotel.icon);
                    }

                    markers.push(marker);
                    marker.setMap(map);
                    google.maps.event.addListener(marker, 'click', (function(marker) {
                        return function() {
                            infoWindow.setContent(hotel.html);
                            infoWindow.open(map, marker);
                        }
                    })(marker));

                    map.fitBounds(markerBounds);
                })();
            }

            if(map.getZoom() > 15) map.setZoom(15);

            update = false;
        });
        return false;
    }


    function loadActivityByCity(link){
        //$(link).closest('.gm-style-iw').next().click();
        $(link).closest('.map-info-window').hide();
        var bounds = map.getBounds();

        var topRight = bounds.getNorthEast();
        var bottomLeft = bounds.getSouthWest();

        $.get('/gabcb/' + $(link).data('city') + '/' + topRight.lat() + "/" + topRight.lng() + "/" + bottomLeft.lat() + "/" + bottomLeft.lng(), function (responce) {
            //console.log(responce);

            $('#back-btn').html("<a href='#' onclick='return backBtn()' class='btn btn-danger btn-lg'> back </a>");

            //clear all markers
            for(var j=0; j<markers.length; j++){
                markers[j].setMap(null);
            }

            // Display multiple markers on a map
            var infoWindow = new google.maps.InfoWindow(), marker, i;

            markers = [];

            markerBounds = new google.maps.LatLngBounds();

            //add markers
            for(i=0; i<responce.length; i++){
                (function(){

                    var hotel = responce[i];

                    var position = new google.maps.LatLng(hotel.lat, hotel.long);
                    markerBounds.extend(position);

                    marker = new google.maps.Marker({
                        position: position,
                        title:""
                    });

                    if(hotel.icon){
                        marker.setIcon(hotel.icon);
                    }

                    markers.push(marker);
                    marker.setMap(map);
                    google.maps.event.addListener(marker, 'click', (function(marker) {
                        return function() {
                            infoWindow.setContent(hotel.html);
                            infoWindow.open(map, marker);
                        }
                    })(marker));

                    map.fitBounds(markerBounds);
                })();
            }

            if(map.getZoom() > 15) map.setZoom(15);

            update = false;
        });
        return false;
    }


    function zoomMap(amount, link){
        map.setZoom(amount);
        var lat = $(link).closest('.map-info-window').data('lat');
        var lng = $(link).closest('.map-info-window').data('lng');
        map.panTo({lat: lat, lng: lng});
        return false;
    }

    function loadItemsByCity(link){
        //clear all popups
        for(var j=0; j<popups.length; j++){
            popups[j].setMap(null);
        }

        $(link).closest('.map-info-window').hide();
        var bounds = map.getBounds();

        var topRight = bounds.getNorthEast();
        var bottomLeft = bounds.getSouthWest();

        $.get('/gibcb/' + $(link).data('city') + '/' + topRight.lat() + "/" + topRight.lng() + "/" + bottomLeft.lat() + "/" + bottomLeft.lng() + "/" + $(link).data('category'), function (responce) {
            //console.log(responce);

            $('#back-btn').html("<a href='#' onclick='return backBtn()' class='btn btn-danger btn-lg'> back </a>");

            //clear all markers
            for(var j=0; j<markers.length; j++){
                markers[j].setMap(null);
            }

            // Display multiple markers on a map
            var infoWindow = new google.maps.InfoWindow(), marker, i;

            markers = [];

            markerBounds = new google.maps.LatLngBounds();

            //add markers
            for(i=0; i<responce.length; i++){
                (function(){

                    var hotel = responce[i];

                    var position = new google.maps.LatLng(hotel.lat, hotel.long);
                    markerBounds.extend(position);

                    var infW = new (GenCustomWindow())();
                    //infW.setContent(placesInfoCache[hotel.city.toLowerCase()]);
                    infW.setContent(hotel.html);
                    infW.setPopup(hotel.popup);
                    infW.setPosition(position);
                    infW.open(map);
                    markers.push(infW);

//                    marker = new google.maps.Marker({
//                        position: position,
//                        title:""
//                    });
//
//                    if(hotel.icon){
//                        marker.setIcon(hotel.icon);
//                    }

//                    markers.push(marker);
//                    marker.setMap(map);
//                    google.maps.event.addListener(marker, 'click', (function(marker) {
//                        return function() {
//                            infoWindow.setContent(hotel.html);
//                            infoWindow.open(map, marker);
//                        }
//                    })(marker));

                    map.fitBounds(markerBounds);
                })();
            }

            if(map.getZoom() > 15) map.setZoom(15);

            update = false;
        });
        return false;
    }

    $('#map_wrapper').on('click', ".map-popup", function () {
        //clear all popups
        for(var j=0; j<popups.length; j++){
            popups[j].setMap(null);
        }

        var content = $(this).closest(".map-info-window").data('popup');

        var lat = $(this).closest('.map-info-window').data('lat');
        var lng = $(this).closest('.map-info-window').data('lng');
        var position = new google.maps.LatLng(lat, lng);

        var infW = new (GenCustomWindow())();
        //infW.setContent(placesInfoCache[hotel.city.toLowerCase()]);
        infW.setContent(content);
        infW.setPosition(position);
        infW.open(map);
        popups.push(infW);
        return false;
    });

</script>