<!--suppress ALL -->

<div id="back-btn"></div>
<div id="map_wrapper">
	<div id="map_shadow_left"></div>
	<div id="map_shadow"></div>
    <div id="map_canvas" class="mapping" style="width: 100%; height: 100%"></div>
</div>
<script src="{{ asset('bundles/sandboxwebsite/frontend/js/infoWindow.js') }}"></script>
<script>
    jQuery(function($) {
        initialize();
    });
    var placesCache = [];
    var placesInfoCache = [];
    var map;
    var markers = [];
    var update = true;
    var infoWindows = [];
    var markerBounds;
    var popups = [];

    function initialize() {
        var MY_MAPTYPE_ID = 'custom_style';
        var featureOpts = [
            {
                elementType: 'geometry.stroke',
                stylers: [
                    { hue: '#FFEFBF' },
                    { "visibility": "on" },
				      { "hue": "#ff3c00" },
				      { "saturation": -65 },
				      { "lightness": 10 },
				      { "gamma": 0.95 }
                ]
            },
            {
			    elementType: 'geometry.fill',
			    stylers: [
			      { "visibility": 'on' },
			      { "hue": '#2bff00' },
			      { "lightness": 26 },
			      { "gamma": 1.33 },
			      { "saturation": 15 }
			    ]
			  },

            {
                featureType: "poi",
                elementType: 'labels',
                stylers: [
                    { visibility: 'off' }
                ]
            },
            {
                featureType: 'water',
                stylers: [
                    { color: '#A3C5CC' }
                ]
            }
        ];

        var geocoder;

        markerBounds = new google.maps.LatLngBounds();

        var bounds = new google.maps.LatLngBounds();
        var mapOptions = {
            mapTypeId: MY_MAPTYPE_ID,
            zoom: 10,
            center: new google.maps.LatLng(59.42, 24.7)
        };

        // Display a map on the page
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        map.setTilt(45);
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM]
                .push(document.getElementById('back-btn'));

        geocoder = new google.maps.Geocoder();

        var styledMapOptions = {
            name: 'Custom Style'
        };

        var customMapType = new google.maps.StyledMapType(featureOpts, styledMapOptions);

        map.mapTypes.set(MY_MAPTYPE_ID, customMapType);

        google.maps.event.addListener((map), 'idle', function(event) {

            if(!update) return;

            var bounds = map.getBounds();

            var topRight = bounds.getNorthEast();
            var bottomLeft = bounds.getSouthWest();

            update = false;
            $.get('/gbb/' + topRight.lat() + "/" + topRight.lng() + "/" + bottomLeft.lat() + "/" + bottomLeft.lng() + "/" + map.getZoom(), function (responce) {
                //console.log(responce);
                var j;

                var prevMarkers = infoWindows;

                //clear all markers
                for(j=0; j<markers.length; j++){
                    markers[j].setMap(null);
                }
                //clear all infowindows
//                for(j=0; j<infoWindows.length; j++){
//                    infoWindows[j].close();
//                }
                //clear all popups
                for(j=0; j<popups.length; j++){
                    popups[j].setMap(null);
                }
                // Display multiple markers on a map
                var infoWindow = new google.maps.InfoWindow(), marker, i;

                markers = [];
                infoWindows = [];
                //add markers
                var timeout = 1;
                for(i=0; i<responce.length; i++){
                    (function(){

                        var hotel = responce[i];

                        if(hotel.city == null){
                            var infW = new (GenCustomWindow())();
                            //infW.setContent(placesInfoCache[hotel.city.toLowerCase()]);
                            infW.setContent(hotel.html);
                            infW.setPopup(hotel.popup);
                            infW.setPosition(new google.maps.LatLng(hotel.lat, hotel.long));
                            infW.open(map);
                            infoWindows.push(infW);
                        }else if(placesCache[hotel.city.toLowerCase()] != undefined){

                            //var infW = new google.maps.InfoWindow({disableAutoPan: true});
                            var infW = new (GenCustomWindow())();
                            //infW.setContent(placesInfoCache[hotel.city.toLowerCase()]);
                            infW.setContent(hotel.html);
                            infW.setPosition(placesCache[hotel.city.toLowerCase()]);
                            infW.open(map);
                            infoWindows.push(infW);
                        }else{
                            timeout += 500;
                            setTimeout(function () {
                                geocoder.geocode( { 'address': hotel.city}, function(results, status) {
                                    if (status == google.maps.GeocoderStatus.OK) {
                                        placesCache[hotel.city.toLowerCase()] = results[0].geometry.location;
                                        placesInfoCache[hotel.city.toLowerCase()] = hotel.html;
//                                        markers.push(marker);

                                        //var infW = new google.maps.InfoWindow({disableAutoPan: true});
                                        var infW = new (GenCustomWindow())();
                                        infW.setContent(hotel.html);
                                        infW.setPosition(results[0].geometry.location);
                                        infW.open(map);
                                        infoWindows.push(infW);

                                    } else {
                                        console.log('Geocode was not successful for the following reason: ' + status);
                                    }
                                });
                            }, timeout);

                        }

                    })();

                }

                setTimeout(function () {
                    //clear all markers
                    for(j=0; j<prevMarkers.length; j++){
                        prevMarkers[j].setMap(null);
                    }
                }, 1);


                var zoom = map.getZoom();
                if(zoom > 11){
                    $('.airbnb-badge').removeClass('hide');
                }else{
                    $('.airbnb-badge').addClass('hide');
                }

                setTimeout(function () {

                    if(zoom <= 8){
                        $(".map-window-item").css({
                            "background-size": "24px auto"
//                            'background-image' : "url(http://viabaltica.ru/bundles/sandboxwebsite/img/markers/template/marker-park_24.png)"
                        });
                    }
                    else if(zoom <= 11){
                        $(".map-window-item").css({
                            "background-size": "24px auto"
//                            'background-image' : "url(http://viabaltica.ru/bundles/sandboxwebsite/img/markers/template/marker-park_24.png)"
                        });
                    }else{
                        $(".map-window-item").css({
                            "background-size": "32px auto"
                        });
                    }

                }, 1);



                update = true;
            });
        });


        google.maps.event.addListener(map, 'zoom_changed', function() {
            var zoom = map.getZoom();

            if(zoom <= 10) {
                update = true;
                $('#back-btn').html('');
                google.maps.event.trigger(map, 'idle');
            }
        });
    }

    function backBtn(){
        update = true;
        $('#back-btn').html('');
        map.fitBounds(markerBounds);

        clearPopups();

        if(map.getZoom() > 12){
            map.setZoom(12);
        }
        google.maps.event.trigger(map, 'idle');

        return false;
    }

    function zoomMap(amount, link){
        map.setZoom(amount);
        var lat = $(link).closest('.map-info-window').data('lat');
        var lng = $(link).closest('.map-info-window').data('lng');
        map.panTo({lat: lat, lng: lng});
        return false;
    }

    function loadAllItemsByCity(link){
        clearPopups();

        $(link).closest('.map-info-window').hide();
        var bounds = map.getBounds();

        var topRight = bounds.getNorthEast();
        var bottomLeft = bounds.getSouthWest();

        $.get('/gaibcb/' + $(link).data('city') + '/' + topRight.lat() + "/" + topRight.lng() + "/" + bottomLeft.lat() + "/" + bottomLeft.lng(), function (responce) {
            showMarkers(responce);
        });
        return false;
    }
    function loadItemsByCity(link){
        clearPopups();

        $(link).closest('.map-info-window').hide();
        var bounds = map.getBounds();

        var topRight = bounds.getNorthEast();
        var bottomLeft = bounds.getSouthWest();

        $.get('/gibcb/' + $(link).data('city') + '/' + topRight.lat() + "/" + topRight.lng() + "/" + bottomLeft.lat() + "/" + bottomLeft.lng() + "/" + $(link).data('category'), function (responce) {
            showMarkers(responce);
        });
        return false;
    }

    function clearPopups(){
        //clear all popups
        for(var j=0; j<popups.length; j++){
            popups[j].setMap(null);
        }
    }

    function showMarkers(responce){
        $('#back-btn').html("<a href='#' onclick='return backBtn()' class='btn btn-danger btn-lg'> back </a>");

        var prevMarkers = markers;

        //clear all markers
//        for(var j=0; j<markers.length; j++){
            //markers[j].setMap(null);
//        }

        // Display multiple markers on a map
        var infoWindow = new google.maps.InfoWindow(), marker, i;

        markers = [];

        markerBounds = new google.maps.LatLngBounds();

        //add markers
        for(i=0; i<responce.length; i++){
            (function(){

                var hotel = responce[i];

                var position = new google.maps.LatLng(hotel.lat, hotel.long);
                markerBounds.extend(position);

                var infW = new (GenCustomWindow())();
                //infW.setContent(placesInfoCache[hotel.city.toLowerCase()]);
                infW.setContent(hotel.html);
                infW.setPopup(hotel.popup);
                infW.setPosition(position);
                infW.open(map);
                markers.push(infW);

                map.fitBounds(markerBounds);
            })();
        }

        //clear all markers
        for(var j=0; j<prevMarkers.length; j++){
            prevMarkers[j].setMap(null);
        }

        if(map.getZoom() > 15) map.setZoom(15);

        update = false;
    }

    $('#map_wrapper').on('click', ".map-popup", function () {
        //clear all popups
        for(var j=0; j<popups.length; j++){
            popups[j].setMap(null);
        }

        var content = $(this).closest(".map-info-window").data('popup');

        var lat = $(this).closest('.map-info-window').data('lat');
        var lng = $(this).closest('.map-info-window').data('lng');
        var position = new google.maps.LatLng(lat, lng);

        var infW = new (GenCustomWindow())();
        //infW.setContent(placesInfoCache[hotel.city.toLowerCase()]);
        infW.setContent(content);
        infW.setPosition(position);
        infW.setPantoView(true);
        infW.open(map);
        popups.push(infW);
        return false;
    });

</script>