<div class="container top-menu-container">
    {# DEPARTURE DROPDOWN #}
        {{ render(controller('SandboxWebsiteBundle:Dropdown:departure')) }}
    {# DESTINATION DROPDOWN #}
        {{ render(controller('SandboxWebsiteBundle:Dropdown:destination')) }}
    {# COMPANY DROPDOWN #}
        {{ render(controller('SandboxWebsiteBundle:Dropdown:company')) }}

        {#<div class="city-picker-container">#}
        {#</div>#}
</div>


