<div class="container top-menu-container">
    {#658 query#}
    {# DEPARTURE DROPDOWN 77 query#}
        {{ render(controller('SandboxWebsiteBundle:Dropdown:departure')) }}
    {# DESTINATION DROPDOWN 45 query#}
        {{ render(controller('SandboxWebsiteBundle:Dropdown:destination')) }}
    {# COMPANY DROPDOWN 14 query#}
        {{ render(controller('SandboxWebsiteBundle:Dropdown:company')) }}
</div>


