<div class="container top-menu-container">
    {#169 query#}
    {# DEPARTURE DROPDOWN 11 query#}
        {{ render(controller('SandboxWebsiteBundle:Dropdown:departure')) }}
    {# DESTINATION DROPDOWN 9 query#}
        {{ render(controller('SandboxWebsiteBundle:Dropdown:destination')) }}
    {# COMPANY DROPDOWN 36 query#}
        {{ render(controller('SandboxWebsiteBundle:Dropdown:company')) }}
        {#<div class="city-picker-container">#}
        {#</div>#}
</div>


