<div class="col-md-10 col-md-offset-0_5" xmlns="http://www.w3.org/1999/html">


    <form action="/" method="post" id="travelbase-form" accept-charset="UTF-8">
        <div>
            <input name="order_field" value="date" type="hidden">
            <input name="order_direction" value="asc" type="hidden">

            <h1>{{ 'lowcost.last.minute.travel.deals' | trans({}, 'frontend') }}</h1>

            <div class="row">
                {#COL 1#}
                <div class="col-md-3">
                    <div>
                        <div class="input-group-addon travelbase-input-addon"><span class="glyphicon travelbase-icon travelbase-icon-from"></span></div>
                        <div class="dataholder form-control" id="departure-dataholder" data-target="#departure-el"></div>
                    </div>
                    <div>
                        <div class="input-group-addon travelbase-input-addon travelbase-icon-to-top"><span class="glyphicon travelbase-icon travelbase-icon-from"></span></div>
                        <input id="departure-el" type="text" class="form-control hide">
                    </div>
                </div>
                {#COL 2#}
                <div class="col-md-2">
                    <div>
                        <div class="input-group-addon travelbase-input-addon"><span id="datepick-trigger-from" class="glyphicon travelbase-icon travelbase-icon-date-from"></span></div>
                        <input id="datepick-input-from-holder" type="text" class="datepick-input-holder form-control travelbase-input"/>
                    </div>
                    <input id="datepick-input-from" type="text" class="datepick-input"/>
                </div>
                {#COL 3#}
                <div class="col-md-3">
                    <div>
                        <div class="input-group-addon travelbase-input-addon"><span class="glyphicon travelbase-icon travelbase-icon-to"></span></div>
                        <div class="dataholder form-control" id="destination-dataholder" data-target="#destination-el"></div>
                    </div>
                    <div>
                        <div class="input-group-addon travelbase-input-addon travelbase-icon-to-top"><span class="glyphicon travelbase-icon travelbase-icon-to"></span></div>
                        <input id="destination-el" type="text" class="form-control hide">
                    </div>
                </div>
                {#COL 4#}
                <div class="col-md-2">
                    <div style="position: relative">
                        <span class="fa fa-times-circle datepicker-clear-icon hide"></span>
                        <div class="input-group-addon travelbase-input-addon"><span id="datepick-trigger-to" class="glyphicon travelbase-icon travelbase-icon-date-to"></span></div>
                        <input id="datepick-input-to-holder" type="text" class="datepick-input-holder form-control travelbase-input"/>
                    </div>
                    <input id="datepick-input-to" type="text" class="datepick-input"/>

                </div>


                {#COL 5#}
                <div class="col-md-2">
                    <a href="#" id="form-submit" type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-search"></span></a>
                </div>
            </div>

            {# ROW 2 #}
            <div class="row">
                {# COL 1 #}
                <div class="col-md-2">
                    <p style="position: relative">
                        <label for="amount">
                            <img src="http://ku.markmedia.fi/sites/default/files/images/i-pri.png"
                                 class="ico-price pull-left">
                        </label>
                        <input type="text" id="amount" readonly>
                    </p>

                    <div id="slider-range"></div>
                </div>
                {# COL 2 #}
                {#<div class="col-md-2">#}
                    {#<p style="position: relative; height: 0;">#}
                        {#<label for="stopover"></label>#}
                        {#<input type="text" id="stopover" readonly>#}
                    {#</p>#}
                    {#<div id="slider-range-stopover"></div>#}
                {#</div>#}
                {# COL 3 #}
                {#<div class="col-md-3">#}
                    {#<div class="checkbox">#}
                        {#<label class="directFlight-label">#}
                            {#<input id="directFlight" type="checkbox"> {{ 'direct.flights.only' | trans({}, 'frontend') }}#}
                        {#</label>#}
                    {#</div>#}
                {#</div>#}
                {# COL 4 #}
                <div class="col-md-2">
                    <div class="field-six nopadding options-row">
                        <div style="display: none;" class="option-div options">
                            {{ render(controller('SandboxWebsiteBundle:Dropdown:companySelect')) }}
                        </div>
                        {#<a href="#" class="toggle" data-target=".options">#}
                            {#<img src="http://ku.markmedia.fi/sites/default/files/imageXs/i-plu.png" class="pull-left">#}
                            {#&nbsp;<span class="text-underline">More options</span></a>#}
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div style="display: none;" class="options">
                        <input id="edit-only-flights" name="only_flights" value="1" checked="checked"
                               class="form-checkbox" type="checkbox">
                        <label class="option" for="edit-only-flights">Only Flights</label>
                        <input id="edit-only-hotel" name="only_hotel" value="1" checked="checked" class="form-checkbox"
                               type="checkbox">
                        <label class="option" for="edit-only-hotel">Only Hotel </label>
                        <input id="edit-flight-and-hotel" name="flight_and_hotel" value="1" checked="checked"
                               class="form-checkbox" type="checkbox">
                        <label class="option" for="edit-flight-and-hotel">Flight+Hotel </label>
                        <input id="edit-flight-and-hotel-unknown" name="flight_and_hotel_unknown" value="1"
                               checked="checked" class="form-checkbox" type="checkbox">
                        <label class="option" for="edit-flight-and-hotel-unknown">Flight+HotelUnknown </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>