<div class="col-md-10 col-md-offset-0_5" xmlns="http://www.w3.org/1999/html">


    <form action="/" method="post" id="travelbase-form" accept-charset="UTF-8">
        <div>
            <input name="order_field" value="date" type="hidden">
            <input name="order_direction" value="asc" type="hidden">

            <h1>{{ 'lowcost.last.minute.travel.deals' | trans({}, 'frontend') }}</h1>

            <div class="row">
                {#COL 1#}
                <div class="col-md-3">
                    {#<select id="e1" multiple="multiple">#}
                        {#<option value="AL">Alabama</option>#}
                        {#<option value="WY">Wyoming</option>#}
                    {#</select>#}
                    <select name="" id="departure-selected" multiple></select>
                    <input type="text" id="departure-el"/>
                    {#<span class="glyphicon glyphicon-search"></span>#}
                </div>
                {#&#123;&#35;ROW 1&#35;&#125;#}
                {#<div class="col-md-2">#}
                    {#<div class="form-item form-type-select form-item-departure-city">#}
                        {#<img src="http://ku.markmedia.fi/sites/default/files/images/i-dep.png" class="pull-left city-picker-dropdown" data-target="#dropdown-departure">#}
                    {#</div>#}
        {#<span class="city-picker-list city-picker-dropdown" data-target="#dropdown-departure">#}
            {#<a href="#" onclick="return unCheckAll(this, event)" class="form-list-close">#}
                {#<span>×</span>#}
            {#</a>#}
            {#Estonia, Finland, Sweden#}
        {#</span>#}
                {#</div>#}
                {#ROW 2#}
                <div class="col-md-2">
                    {#<label for="edit-date-start-datepicker-popup-0">#}
                        {#<img src="http://ku.markmedia.fi/sites/default/files/images/i-cal.png">#}
                    {#</label>#}
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                        <input id="date-start-datepicker-holder" type="text" class="form-control">
                    </div>
                        <input id="edit-date-start-datepicker-popup-0" name="date_start[date]" value="" class="date" type="text">


                </div>


                {#COL 3#}
                <div class="col-md-3">
                    <select name="" id="destination-selected" multiple></select>
                    <input type="text" id="destination-el"/>
                </div>


                {#&#123;&#35;ROW 3&#35;&#125;#}
                {#<div class="col-md-2">#}
                    {#<div class="form-item-destination-city">#}
                       {#<img src="http://ku.markmedia.fi/sites/default/files/images/i-des.png" class="pull-left city-picker-dropdown" data-target="#dropdown-destination">#}
                    {#</div>#}
                    {##}
                     {#<span class="city-picker-list city-picker-dropdown"  data-target="#dropdown-destination">Pick you destination</span>#}
                {#</div>#}

                {#ROW 4#} 
                <div class="col-md-2">
                    {#<label for="edit-date-end-datepicker-popup-0">#}
                        {#<img src="http://ku.markmedia.fi/sites/default/files/images/i-cal.png">#}
                    {#</label>#}
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                        <input id="date-end-datepicker-holder" type="text" class="form-control">
                    </div>
                    <input id="edit-date-end-datepicker-popup-0" name="date_end[date]" value="" class="date" type="text">
                </div>


                {#COL 5#}
                <div class="col-md-2">
                    <a href="#" id="form-submit" type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-search"></span> {{ 'search'| trans({}, 'frontend') }}</a>
                </div>
            </div>

            {# ROW 2 #}
            <div class="row">
                {# COL 1 #}
                <div class="col-md-2">
                    <p style="position: relative">
                        <label for="amount">
                            <img src="http://ku.markmedia.fi/sites/default/files/images/i-pri.png"
                                 class="ico-price pull-left">
                        </label>
                        <input type="text" id="amount" readonly>
                    </p>

                    <div id="slider-range"></div>
                </div>
                {# COL 2 #}
                <div class="col-md-2">
                    <p style="position: relative; height: 0;">
                        <label for="stopover"></label>
                        <input type="text" id="stopover" readonly>
                    </p>
                    <div id="slider-range-stopover"></div>
                </div>
                {# COL 3 #}
                <div class="col-md-2">
                    <div class="checkbox">
                        <label>
                            <input id="directFlight" type="checkbox"> {{ 'direct.flights.only' | trans({}, 'frontend') }}
                        </label>
                    </div>
                </div>
                {# COL 4 #}
                <div class="col-md-6">
                    <div class="field-six nopadding options-row">
                        <div style="display: none;" class="option-div options">
                            {{ render(controller('SandboxWebsiteBundle:Dropdown:companySelect')) }}
                        </div>
                        {#<a href="#" class="toggle" data-target=".options">#}
                            {#<img src="http://ku.markmedia.fi/sites/default/files/imageXs/i-plu.png" class="pull-left">#}
                            {#&nbsp;<span class="text-underline">More options</span></a>#}
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div style="display: none;" class="options">
                        <input id="edit-only-flights" name="only_flights" value="1" checked="checked"
                               class="form-checkbox" type="checkbox">
                        <label class="option" for="edit-only-flights">Only Flights</label>
                        <input id="edit-only-hotel" name="only_hotel" value="1" checked="checked" class="form-checkbox"
                               type="checkbox">
                        <label class="option" for="edit-only-hotel">Only Hotel </label>
                        <input id="edit-flight-and-hotel" name="flight_and_hotel" value="1" checked="checked"
                               class="form-checkbox" type="checkbox">
                        <label class="option" for="edit-flight-and-hotel">Flight+Hotel </label>
                        <input id="edit-flight-and-hotel-unknown" name="flight_and_hotel_unknown" value="1"
                               checked="checked" class="form-checkbox" type="checkbox">
                        <label class="option" for="edit-flight-and-hotel-unknown">Flight+HotelUnknown </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>