<div class="col-md-10 col-md-offset-1">


    <form action="/" method="post" id="travelbase-form" accept-charset="UTF-8">
        <div>
            <input name="order_field" value="date" type="hidden">
            <input name="order_direction" value="asc" type="hidden">

            <h1>Lowcost last minute travel deals!</h1>

            {#<div class="site-topmenu">#}
            {#<ul class="travelbase_top_menu">#}
            {#<li><a href="#" data-target="#edit-destination-country">Destinations</a></li>#}
            {#<li><a href="#" data-target="#edit-company">Companies</a></li>#}
            {#</ul>#}
            {#</div>#}
            {#<div class="form-item form-type-select form-item-company">#}
            {#<div class="city-picker-container"><input id="edit-company" name="company" class="form-text" type="text">#}

            {#<div style="margin-top: -9999px;" class="row city-picker">#}
            {#<div class="city-filters">#}
            {#<h1 class="form-item-header">Company header </h1>#}

            {#<div class="form-item-desc">Company description</div>#}
            {#</div>#}
            {#<div class="city-list">#}
            {#<div class="no-cities" style="display: none">Nothing found</div>#}
            {#<span class="city-picker-close glyphicon glyphicon-remove"></span>#}
            {#<ul>#}
            {#<li><a href="/apollomatkat">Apollomatkat</a></li>#}
            {#</ul>#}
            {#<ul>#}
            {#<li><a href="/easyjet">EasyJet</a></li>#}
            {#</ul>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            <div class="row">
                {#COL 1#}
                <div class="col-md-2">
                    {#<select id="e1" multiple="multiple">#}
                        {#<option value="AL">Alabama</option>#}
                        {#<option value="WY">Wyoming</option>#}
                    {#</select>#}
                    <select name="" id="departure-selected" multiple></select>
                    <input type="text" id="departure-el"/>
                    {#<span class="glyphicon glyphicon-search"></span>#}

                    <script>

                        function cityPicker($el, $selected) {
                            function repoFormatResult(repo) {
                                var $title = repo.cityNameEn;//repo.countryName + "/" + repo.cityNameEn;

                                $title = '<div class="col-xs-10 col-xs-offset-2">' + $title +'</div>';

                                if(repo.id.toString().indexOf("_") != -1){

                                    $title = '<div class="col-xs-12"><strong>' + repo.countryName +'</strong></div>';
                                }

                                var markup = '<div class="row">' + $title;

                                markup += '</div>';

                                return markup;
                            }

                            function repoFormatSelection(repo) {
                                var $title = repo.countryName + "/" + repo.cityNameEn;

                                if(repo.id.toString().indexOf("_") != -1){
                                    $title = repo.countryName;
                                }
                                repo.text = $title;
                                var $data = $($selected).select2('data');
                                $data.push(repo);
                                $($selected).select2('data', $data);
                                $($selected).prev().find(".select2-search-field").css('height', '2px');
                                $($selected).prev().find(".select2-search-choice").css('float', 'none');
                                $($selected).prev().find(".select2-search-field").css('float', 'none');
                                $($selected).prev().find(".select2-search-field").css('overflow', 'hidden');
                                //$("#departure-selected").prev().find(".select2-search-field").hide();

                                return $title;
                            }

                            function convertData(data){
                                var $finalData = [];

                                var data = $.map(data, function(el) {
                                            //el.id = Object.keys(el)[0];
                                            return el;
                                        }
                                );

                                var selected = $($el).data('selected');
                                if(!selected) selected = [];

                                //loop countries
                                for(var i=0; i<data.length; i++){
                                    var $cityArr = data[i];

                                    //loop cities
                                    for(var j=0; j<Object.keys($cityArr).length; j++){
                                        if(j == 0){
                                            //add county
                                            var $country = $cityArr[Object.keys($cityArr)[j]];
                                            $country = JSON.parse(JSON.stringify($country));
                                            $country.id = $country.id + "_";

                                            if(selected.indexOf($country.id) != -1){
                                                $country.disabled = true;
                                            }
                                            $finalData.push($country);
                                        }
                                        //add city
                                        var $city = $cityArr[Object.keys($cityArr)[j]];
                                        $city = JSON.parse(JSON.stringify($city));
                                        if(selected.indexOf($city.id.toString()) != -1){
                                            $city.disabled = true;
                                        }
                                        $finalData.push($city);
                                    }
                                }
                                return $finalData;
                            }




                            $($el).select2({
                                placeholder: "Search for a place",
                                minimumInputLength: 3,
                                multiple: true,
                                width: '100%',
                                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                                    url: "http://api.travel.markmedia.fi/api/city.findByText/",
                                    dataType: 'json',
                                    quietMillis: 250,
                                    data: function (term, page) {
                                        return {
                                            q: term, // search term
                                        };
                                    },
                                    results: function (data, page) { // parse the results into the format expected by Select2.
                                        return {results: convertData(data)};
                                    },
                                    cache: true
                                },
                                initSelection: function (element, callback) {
                                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                                    // this function resolves that id attribute to an object that select2 can render
                                    // using its formatResult renderer - that way the repository name is shown preselected
                                    $(element).val("");
                                    var id = $(element).val();
                                    id = '';
                                    if (id !== "") {
//                                        id = 'estonia';
                                        $.ajax("http://api.travel.markmedia.fi/api/city.findByText/?q=" + id, {
                                            dataType: "json"
                                        }).done(function (data) {

                                            callback(convertData(data));
                                        });
                                    }
                                },
                                formatResult: repoFormatResult, // omitted for brevity, see the source of this page
                                formatSelection: repoFormatSelection, // omitted for brevity, see the source of this page
                                dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
                                escapeMarkup: function (m) {
                                    return m;
                                } // we do not want to escape markup since we are displaying html in results
                            });

                            $($el).on("change", function (e) {
                                var $elem = $($el);
                                var $selected = $elem.data('selected');
                                if (!$selected) $selected = [];
                                if ($selected.indexOf(e.val[0]) == -1) {
                                    $selected.push(e.val[0]);
                                }
                                $elem.data('selected', $selected);
                                $elem.select2("val", "");
                            });

                            $($el).on("select2-selecting", function (e) {
                                $($selected).prev().css('display', 'block');
                            });

                            $($selected).select2({width: '100%'});
                            $($selected).on('select2-removed', function (e) {
                                var $elem = $($el);
                                var selected = $elem.data('selected');

                                var index = selected.indexOf(e.val.toString());
                                if (index > -1) {
                                    selected.splice(index, 1);
                                }
                                $elem.data('selected', selected);

                                if (selected.length == 0) {
                                    $($selected).prev().hide();
                                }
                            });

                            $($selected).on('select2-focus', function (e) {
                                e.preventDefault();
                                console.log('focus');
                                $($selected).prev().find(".select2-search-field").css('height', '2px');
                                $($selected).prev().find(".select2-search-choice").css('float', 'left');
                                $($selected).prev().find(".select2-search-field").css('float', 'left');

                                $($el).prev().show();
                                //$($el).select2('close');
                                $($el).select2('open');
                                $($el).prev().find('.select2-search-field').find('input').focus();

                            });

                            $($selected).on('select2-opening', function (e) {
                                e.preventDefault();
                                $($selected).select2('close');

                                console.log('opening');
                                $($el).prev().show();
                                $($el).select2('close');
                                $($el).select2('open');
                                $($el).prev().find('.select2-search-field').find('input').focus();
                            });

                            $($el).on('select2-blur', function (e) {
                                console.log('blur');

                                if ($($selected).select2('data').length > 0) {
                                    console.log('hide me');
                                    //$($el).prev().hide();
                                }

                                $($selected).prev().find(".select2-search-choice").css('float', 'none');
                                $($selected).prev().find(".select2-search-field").css('float', 'none');

                            });

                            $($el).on('select2-focus', function (e) {
                                console.log('focus');

                                //$($selected).prev().find(".select2-search-choice").css('float', 'left');
                                //$($selected).prev().find(".select2-search-field").css('float', 'left');
                            });

                            $($selected).prev().hide();
                        }


                        $(document).ready(function () {
                            cityPicker("#departure-el", '#departure-selected');
                            cityPicker("#destination-el", '#destination-selected');
                        });
                    </script>

                </div>
                {#&#123;&#35;ROW 1&#35;&#125;#}
                {#<div class="col-md-2">#}
                    {#<div class="form-item form-type-select form-item-departure-city">#}
                        {#<img src="http://ku.markmedia.fi/sites/default/files/images/i-dep.png" class="pull-left city-picker-dropdown" data-target="#dropdown-departure">#}
                    {#</div>#}
        {#<span class="city-picker-list city-picker-dropdown" data-target="#dropdown-departure">#}
            {#<a href="#" onclick="return unCheckAll(this, event)" class="form-list-close">#}
                {#<span>×</span>#}
            {#</a>#}
            {#Estonia, Finland, Sweden#}
        {#</span>#}
                {#</div>#}
                {#ROW 2#}
                <div class="col-md-2">
                    <label for="edit-date-start-datepicker-popup-0">
                        <img src="http://ku.markmedia.fi/sites/default/files/images/i-cal.png">
                    </label>
                    <input id="edit-date-start-datepicker-popup-0" name="date_start[date]" value="" class="date" type="text">
                </div>


                {#COL 3#}
                <div class="col-md-2">
                    <select name="" id="destination-selected" multiple></select>
                    <input type="text" id="destination-el"/>
                </div>


                {#&#123;&#35;ROW 3&#35;&#125;#}
                {#<div class="col-md-2">#}
                    {#<div class="form-item-destination-city">#}
                       {#<img src="http://ku.markmedia.fi/sites/default/files/images/i-des.png" class="pull-left city-picker-dropdown" data-target="#dropdown-destination">#}
                    {#</div>#}
                    {##}
                     {#<span class="city-picker-list city-picker-dropdown"  data-target="#dropdown-destination">Pick you destination</span>#}
                {#</div>#}

                {#ROW 4#} 
                <div class="col-md-2">
                    <label for="edit-date-end-datepicker-popup-0">
                        <img src="http://ku.markmedia.fi/sites/default/files/images/i-cal.png">
                    </label>
                    <input id="edit-date-end-datepicker-popup-0" name="date_end[date]" value="" class="date" type="text">
                </div>
            </div>


            <div class="row">
                <div class="col-md-2">
                    <p style="position: relative">
                        <label for="amount">
                            <img src="http://ku.markmedia.fi/sites/default/files/images/i-pri.png"
                                 class="ico-price pull-left">
                        </label>
                        <input type="text" id="amount" readonly>
                    </p>

                    <div id="slider-range"></div>
                </div>
                <div class="col-md-10">
                    <div class="field-six nopadding options-row">
                        <div style="display: none;" class="option-div options">
                            {{ render(controller('SandboxWebsiteBundle:Dropdown:companySelect')) }}
                        </div>
                        <a href="#" class="toggle" data-target=".options">
                            <img src="http://ku.markmedia.fi/sites/default/files/images/i-plu.png" class="pull-left">
                            &nbsp;<span class="text-underline">More options</span></a>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div style="display: none;" class="options">
                        <input id="edit-only-flights" name="only_flights" value="1" checked="checked"
                               class="form-checkbox" type="checkbox">
                        <label class="option" for="edit-only-flights">Only Flights</label>
                        <input id="edit-only-hotel" name="only_hotel" value="1" checked="checked" class="form-checkbox"
                               type="checkbox">
                        <label class="option" for="edit-only-hotel">Only Hotel </label>
                        <input id="edit-flight-and-hotel" name="flight_and_hotel" value="1" checked="checked"
                               class="form-checkbox" type="checkbox">
                        <label class="option" for="edit-flight-and-hotel">Flight+Hotel </label>
                        <input id="edit-flight-and-hotel-unknown" name="flight_and_hotel_unknown" value="1"
                               checked="checked" class="form-checkbox" type="checkbox">
                        <label class="option" for="edit-flight-and-hotel-unknown">Flight+HotelUnknown </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>