<div class="site-topmenu">
    <ul class="travelbase_top_menu">
        <li>
            <span class="city-picker-list city-picker-dropdown" data-target="#dropdown-departure">Destinations</span>
        </li>
        <li>
            <span class="city-picker-list city-picker-dropdown" data-target="#dropdown-company">Companies</span>
        </li>
    </ul>
</div>
