<div class="site-topmenu">
    <ul class="travelbase_top_menu">
        <li>
            <a href="#" onclick="return false;"><span class="city-picker-list city-picker-dropdown" data-target="#dropdown-departure">Destinations</span></a>
        </li>
        <li>
            <a href="#" onclick="return false;"><span class="city-picker-list city-picker-dropdown" data-target="#dropdown-company">Companies</span></a>
        </li>

        {% if pages is defined %}
            {% for page in pages %}
                <li><a href="{{ path("_slug", { 'url': get_node_translation_for(page).fullslug}) }}">{{ page.title }}</a></li>
            {% endfor %}
        {% endif %}
    </ul>
</div>
