<div class="trip">
    <div class="span1 trip-duration">15h</div>
    <div class="span9 trip-path">
        <div class="trip-path-point">
            <div class="trip-path-point-airport">SMF</div>
            <div class="trip-path-point-time">11:30am</div>
        </div>
        <div class="trip-path-spacer">
            <div class="trip-path-spacer-label"><span data-original-title="Alaska Airlines" data-toggle="tooltip"
                                                      class="airline"
                                                      style="background: url(&quot;/img/airlines/AS.png&quot;) no-repeat scroll 0% 0% transparent;"></span>
                1h 50m
            </div>
            <div class="trip-path-spacer-arrow-wrapper trip-path-spacer-arrow-wrapper-init" style="width: 37.1705px;">
                                        <span class="trip-path-spacer-line">
                                            <div></div>
                                        </span>
                <span class="trip-path-spacer-arrow"></span>
            </div>
        </div>
        <div class="trip-path-point trip-path-point-airport-demp">
            <div class="trip-path-point-airport">SEA</div>
            <div class="trip-path-point-time">1:20pm</div>
        </div>
        <div class="trip-path-spacer">
            <div class="trip-path-spacer-label"> 2h 10m</div>
            <div class="trip-path-spacer-arrow-wrapper trip-path-spacer-arrow-wrapper-init trip-path-spacer-arrow-layover"
                 style="width: 43.9288px;">
                                        <span class="trip-path-spacer-line">
                                            <div></div>
                                        </span>
                <span class="trip-path-spacer-arrow" style="display: none;"></span>
            </div>
        </div>
        <div class="trip-path-point trip-path-point-airport-demp">
            <div class="trip-path-point-airport">SEA</div>
            <div class="trip-path-point-time">3:30pm</div>
        </div>
        <div class="trip-path-spacer">
            <div class="trip-path-spacer-label"><span data-original-title="Icelandair" data-toggle="tooltip"
                                                      class="airline"
                                                      style="background: url(&quot;/img/airlines/FI.png&quot;) no-repeat scroll 0% 0% transparent;"></span>
                7h 15m
            </div>
            <div class="trip-path-spacer-arrow-wrapper trip-path-spacer-arrow-wrapper-init" style="width: 146.993px;">
                                        <span class="trip-path-spacer-line">
                                            <div></div>
                                        </span>
                <span class="trip-path-spacer-arrow"></span>
            </div>
        </div>
        <div class="trip-path-point trip-path-point-airport-demp">
            <div class="trip-path-point-airport">KEF</div>
            <div class="trip-path-point-time">6:45am</div>
        </div>
        <div class="trip-path-spacer">
            <div class="trip-path-spacer-label"> 55m</div>
            <div class="trip-path-spacer-arrow-wrapper trip-path-spacer-arrow-wrapper-init trip-path-spacer-arrow-layover"
                 style="width: 18.5853px;">
                                        <span class="trip-path-spacer-line">
                                            <div></div>
                                        </span>
                <span class="trip-path-spacer-arrow" style="display: none;"></span>
            </div>
        </div>
        <div class="trip-path-point trip-path-point-airport-demp">
            <div class="trip-path-point-airport">KEF</div>
            <div class="trip-path-point-time">7:40am</div>
        </div>
        <div class="trip-path-spacer">
            <div class="trip-path-spacer-label"><span data-original-title="Icelandair" data-toggle="tooltip"
                                                      class="airline"
                                                      style="background: url(&quot;/img/airlines/FI.png&quot;) no-repeat scroll 0% 0% transparent;"></span>
                3h
            </div>
            <div class="trip-path-spacer-arrow-wrapper trip-path-spacer-arrow-wrapper-init" style="width: 60.8245px;">
                                        <span class="trip-path-spacer-line">
                                            <div></div>
                                        </span>
                <span class="trip-path-spacer-arrow"></span>
            </div>
        </div>
        <div class="trip-path-point">
            <div class="trip-path-point-airport">AMS</div>
            <div class="trip-path-point-time trip-path-point-time-emp">11:40am</div>
        </div>
    </div>

    <div class="span2 trip-cost text-success">
        <p>€658</p>
        <button class="btn btn-info trip-btn-cost">€658</button>
        <button class="btn btn-danger trip-btn-close">close</button>
    </div>
</div>