<section id="travelbase_tabs" class="">
        <ul id="form-type-switcher" class="tabs nav nav-tabs">
            <li class="active"><a href="#hot-offers" data-toggle="tab" class="active">&nbsp; Offers &nbsp;<span id="hot-offers-badge" class="badge"></span></a></li>
            <li class=""><a href="#lowcost" data-toggle="tab" data-type="flightHotel">&nbsp; Flights &nbsp;</a></li>
            <li class=""><a href="#hotels" data-toggle="tab" data-type="hotels">&nbsp; Hotels &nbsp;</a></li>
            <li class=""><a href="#car-rent" data-toggle="tab" data-type="hotels">&nbsp; Car rent &nbsp;</a></li>
        </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="hot-offers">
            <div id="travelbase_items"></div>
            <div id="progressbar"></div>
        </div>
        <div class="tab-pane" id="lowcost">lowcost</div>
        <div class="tab-pane" id="hotels">hotels</div>
        <div class="tab-pane" id="car-rent">car-rent</div>
        </div>
</section>


