<section id="travelbase_tabs" class="">
    <ul id="form-type-switcher" class="tabs nav nav-tabs">
{% if host and host.tabs|length > 0 %}
    {% for tab in host.tabs %}
        {% include '@SandboxWebsite/Travelbase/tabHeaders/' ~ tab ~ '.html.twig' %}
    {% endfor %}
{% else %}
    {% include '@SandboxWebsite/Travelbase/tabHeaders/flight.hotel.html.twig' %}
    {% include '@SandboxWebsite/Travelbase/tabHeaders/flight.only.html.twig' %}
    {% include '@SandboxWebsite/Travelbase/tabHeaders/hotel.html.twig' %}
    {% include '@SandboxWebsite/Travelbase/tabHeaders/ferry.html.twig' %}
    {% include '@SandboxWebsite/Travelbase/tabHeaders/cruise.html.twig' %}
    {% include '@SandboxWebsite/Travelbase/tabHeaders/club.html.twig' %}
    {% include '@SandboxWebsite/Travelbase/tabHeaders/package.html.twig' %}
    {% include '@SandboxWebsite/Travelbase/tabHeaders/offer.html.twig' %}
    {% include '@SandboxWebsite/Travelbase/tabHeaders/baltica.html.twig' %}
    {#<li class=""><a href="#car-rent" data-toggle="tab" data-type="car-rent">&nbsp; {{ 'Car.rent' | trans({}, 'frontend') }} &nbsp;</a></li>#}
{% endif %}
        {% include '@SandboxWebsite/Travelbase/tabHeaders/user.html.twig' %}

    </ul>

    {% if page is instanceof('Sandbox\\WebsiteBundle\\Entity\\Company\\CompanyOverviewPage') %}
        <p class="company-info">{{ 'show.latest.offers.for.company'|trans({}, "frontend") }}
            <span class="badge" >{{ page.title }}
                <span class="fa fa-times-circle company-clear"></span>
            </span>
        </p>
        {#{{ page.companyId }}#}
    {% endif %}

    <div class="tab-content">
{% if host and host.tabs|length > 0 %}
    {% for tab in host.tabs %}
        {% include '@SandboxWebsite/Travelbase/tabBody/' ~ tab ~ '.html.twig' %}
    {% endfor %}
{% else %}
    {% include '@SandboxWebsite/Travelbase/tabBody/flight.hotel.html.twig' %}
    {% include '@SandboxWebsite/Travelbase/tabBody/flight.only.html.twig' %}
    {% include '@SandboxWebsite/Travelbase/tabBody/hotel.html.twig' %}
    {% include '@SandboxWebsite/Travelbase/tabBody/ferry.html.twig' %}
    {% include '@SandboxWebsite/Travelbase/tabBody/cruise.html.twig' %}
    {% include '@SandboxWebsite/Travelbase/tabBody/club.html.twig' %}
    {% include '@SandboxWebsite/Travelbase/tabBody/package.html.twig' %}
    {% include '@SandboxWebsite/Travelbase/tabBody/offer.html.twig' %}
    {% include '@SandboxWebsite/Travelbase/tabBody/baltica.html.twig' %}
    {#<div class="tab-pane" id="car-rent"></div>#}
{% endif %}
        {% include '@SandboxWebsite/Travelbase/tabBody/user.html.twig' %}
    </div>
</section>








