<section id="travelbase_tabs" class="">
        <ul id="form-type-switcher" class="tabs nav nav-tabs">
            <li class="active"><a href="#hot-offers" data-toggle="tab" class="">&nbsp; {{ 'flights.hotel' | trans({}, 'frontend') }} &nbsp;<span id="hot-offers-badge" class="badge"></span></a></li>
            <li class=""><a href="#lowcost" data-toggle="tab" data-type="flightHotel">&nbsp; {{ 'only.flights' | trans({}, 'frontend') }} &nbsp;<span id="lowcost-badge" class="badge"></span></a></li>
            <li class=""><a href="#hotels" data-toggle="tab" data-type="hotels">&nbsp; {{ 'hotels' | trans({}, 'frontend') }} &nbsp;</a></li>
            <li class=""><a href="#car-rent" data-toggle="tab" data-type="hotels">&nbsp; {{ 'car.rent' | trans({}, 'frontend') }} &nbsp;</a></li>
        </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="hot-offers">
            <div class="travelbase_items travelbase_items_df" data-filter-type="[1,2]" data-badge="#hot-offers-badge"></div>
            <div class="progressbar"></div>
        </div>
            <div class="tab-pane" id="lowcost">
                <div class="travelbase_items travelbase_items_sp" data-filter-type="[4]" data-badge="#lowcost-badge"></div>
                <div class="progressbar"></div>
            </div>
        <div class="tab-pane" id="hotels">hotels</div>
        <div class="tab-pane" id="car-rent">car-rent</div>
        </div>
</section>


