{% if fullNodes is defined and fullNodes is not null%}
{#<h3>Top 10</h3>#}
<div role="tabpanel" class="top-ten">

    <!-- Nav tabs -->
    {#<ul class="nav nav-tabs" role="tablist">#}
        {#<li role="presentation" class="active"><a href="#top-ten-all" aria-controls="home" role="tab" data-toggle="tab">All</a></li>#}
        {#<li role="presentation"><a href="#top-ten-ski" aria-controls="profile" role="tab" data-toggle="tab">Ski</a></li>#}
        {#<li role="presentation"><a href="#top-ten-spa" aria-controls="messages" role="tab" data-toggle="tab">Spa</a></li>#}
        {#<li role="presentation"><a href="#top-ten-sun" aria-controls="settings" role="tab" data-toggle="tab">Sun</a></li>#}
    {#</ul>#}

    <!-- Tab panes -->
        <div class="tab-pane active" id="">
            <h5 class="doormat__title">Top 10</h5>
            {% for p in fullNodes %}
               <ul class="list-reset doormat__link-list">
                            <li class="doormat__list-item">
		                         <header>  
			                       	<time class="main-news__meta">
			                            {{ p.date | datelocale('long', 'none')}}
			                    	</time>
		                            &nbsp; <span class="fa fa-eye"></span> {#{{ p.viewCount }}#}
					            </header>
                            <a class="link--gray doormat__link" href="{{ path( '_slug', {'url' : p.slug }) }}">{{ p.title }}</a></li>
               </ul>
            {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane no" id="top-ten-ski">ski</div>
        <div role="tabpanel" class="tab-pane no" id="top-ten-spa">spa</div>
        <div role="tabpanel" class="tab-pane no" id="top-ten-sun">sun</div>

</div>
{% endif %} 
