{% extends 'SandboxWebsiteBundle:Layout:layout.html.twig' %}
{% block show_tab %}club{% endblock %}
{% block content %}
    <div class="row">

        {% for offer in offers %}
            {% include '@SandboxWebsite/Offer/offer.html.twig' %}
        {% endfor %}

    </div>
{% endblock %}
