<div style="position: relative">
    {#{{ render(controller('SandboxWebsiteBundle:Offer:index')) }}#}
    <div class="row nomargin" id="offer-holder">
        {{ render(controller('SandboxWebsiteBundle:Offer:getOfferPages')) }}
    </div>
    <div id="offer-pager" class="loadDiv">
    	<div class="loadDiv-line"></div>
        <a href="#" ><span class="fa fa-angle-double-down"></span></a>
    </div>

    {% include '@SandboxWebsite/Travelbase/tabBody/registerOverlay.html.twig' %}
</div>
