<div id="form-flight" class="form-header hide">
<form action="/" method="post" id="travelbase-form" accept-charset="UTF-8">
    <div>
        <input name="order_field" value="date" type="hidden">
        <input name="order_direction" value="asc" type="hidden">

        <div class="text-center">
            <h1 class="hidden-xs">{{ 'lowcost.last.minute.travel.deals' | trans({}, 'frontend') }}</h1>
        </div>

        <div class="row">
            <div class="col-md-11 nopadding">
                <div class="row nomargin">
                    {#row 1#}
                    <div class="col-md-7 form-col">
                        <div class="form-table"> 
                            <div class="form-table-row">
                                {#FROM#}
                                <div class="form-table-cell">
                                    <div>
                                        <div class="visible-xs text-center select-from">
                                            <span class="glyphicon travelbase-icon travelbase-icon-from"></span>
                                            <span class="fa fa-plus-square-o travelbase-icon-from"></span>
                                        </div>

                                        <div class="hidden-xs input-group-addon travelbase-input-addon"><span class="glyphicon travelbase-icon travelbase-icon-from"></span></div>
                                        <div class="dataholder form-control" id="departure-dataholder" data-target="#departure-el"></div>
                                    </div>
                                    <div>
                                        <div class="hidden-xs input-group-addon travelbase-input-addon travelbase-icon-to-top"><span class="glyphicon travelbase-icon travelbase-icon-from"></span></div>
                                        <input id="departure-el" type="text" class="form-control hide placeholder" placeholder="{{ 'type.departure' | trans({}, 'frontend') }}">
                                    </div>
                                </div>
                                {#SWITCH#}
                                <div class="form-table-btn-switch">
                                    <a id="swich-dep-dest" href="#">
                                        <span class="fa fa-exchange"></span>
                                    </a>
                                </div>
                                {#TO#}
                                <div class="form-table-cell">
                                    <div>
                                        <div class="visible-xs text-center select-to">
                                            <span class="glyphicon travelbase-icon travelbase-icon-to"></span>
                                            <span class="fa fa-plus-square-o"></span>
                                        </div>

                                        <div class="hidden-xs input-group-addon travelbase-input-addon"><span class="glyphicon travelbase-icon travelbase-icon-to"></span></div>
                                        <div class="dataholder form-control" id="destination-dataholder" data-target="#destination-el"></div>
                                    </div>
                                    <div>
                                        <div class="hidden-xs input-group-addon travelbase-input-addon travelbase-icon-to-top"><span class="glyphicon travelbase-icon travelbase-icon-to"></span></div>
                                        <input id="destination-el" type="text" class="form-control hide placeholder" placeholder="{{ 'type.destination' | trans({}, 'frontend') }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#COL 3#}
                    <div class="col-xs-6 col-md-2 form-col col-2_5">
                        <div>
                            <div class="input-group-addon travelbase-input-addon"><span id="datepick-trigger-from" class="glyphicon travelbase-icon travelbase-icon-date-from"></span></div>
                            <input readonly="readonly" id="datepick-input-from-holder" type="text" class="datepick-input-holder form-control travelbase-input"/>
                        </div>
                        <input readonly="readonly" id="datepick-input-from" type="text" class="datepick-input" value=" – "/>
                    </div>
                    {#COL 4#}
                    <div class="col-xs-6 col-md-2 form-col col-2_5">
                        <div style="position: relative">
                            <span class="fa fa-times-circle datepicker-clear-icon hide"></span>
                            <div class="input-group-addon travelbase-input-addon"><span id="datepick-trigger-to" class="glyphicon travelbase-icon travelbase-icon-date-to"></span></div>
                            <input readonly="readonly" value="–" id="datepick-input-to-holder" type="text" class="datepick-input-holder form-control travelbase-input"/>
                        </div>
                        <input readonly="readonly" id="datepick-input-to" type="text" class="datepick-input"/>
                    </div>

                    {#COL 5#}
                </div>
                <div class="row">
                    {#row 2#}
                    <div class="col-md-4 col-md-offset-4">
                        <p style="position: relative">
                            <label for="amount">
                                <img src="http://ku.markmedia.fi/sites/default/files/images/i-pri.png"
                                     class="ico-price pull-left">
                            </label>
                            <input type="text" id="amount" readonly>
                        </p>

                        <div id="slider-range"></div>
                    </div>
                    {# COL 4 #}
                    <div class="col-md-2">
                        <div class="field-six nopadding options-row">
                            <div style="display: none;" class="option-div options">
                                {{ render(controller('SandboxWebsiteBundle:Dropdown:companySelect')) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 nopadding">
                {#submit#}
                <div class="form-col text-center-mobile">
                    <a href="#" id="form-submit" type="button" class="btn btn-lg btn-primary form-submit "><span class="glyphicon glyphicon-search"></span></a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div style="display: none;" class="options">
                    <input id="edit-only-flights" name="only_flights" value="1" checked="checked"
                           class="form-checkbox" type="checkbox">
                    <label class="option" for="edit-only-flights">Only Flights</label>
                    <input id="edit-only-hotel" name="only_hotel" value="1" checked="checked" class="form-checkbox"
                           type="checkbox">
                    <label class="option" for="edit-only-hotel">Only Hotel </label>
                    <input id="edit-flight-and-hotel" name="flight_and_hotel" value="1" checked="checked"
                           class="form-checkbox" type="checkbox">
                    <label class="option" for="edit-flight-and-hotel">Flight+Hotel </label>
                    <input id="edit-flight-and-hotel-unknown" name="flight_and_hotel_unknown" value="1"
                           checked="checked" class="form-checkbox" type="checkbox">
                    <label class="option" for="edit-flight-and-hotel-unknown">Flight+HotelUnknown </label>
                </div>
            </div>
        </div>
    </div>
</form>
</div>